Repository foundry-rs/foundry, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danipopes, @evalir, @mattsse, @klkvr, @onbjerg, @rkrasiuk

fixes and test
  crates/anvil/src/config.rs
  crates/anvil/src/eth/backend/mem/state.rs
  crates/anvil/tests/it/proof/eip1186.rs
  crates/anvil/tests/it/proof/mod.rs
Owners: @danipopes, @mattsse, @evalir

fixes
  Cargo.lock
  crates/script/src/build.rs
Owners: @danipopes, @evalir, @mattsse, @klkvr

feat(test): only compile files needed for tests (#7334)
  Cargo.lock
  crates/cheatcodes/Cargo.toml
  crates/cheatcodes/assets/cheatcodes.json
  crates/cheatcodes/spec/src/vm.rs
  crates/cheatcodes/src/config.rs
  crates/cheatcodes/src/fs.rs
  crates/chisel/src/executor.rs
  crates/common/src/contracts.rs
  crates/config/src/lib.rs
  crates/forge/bin/cmd/coverage.rs
  crates/forge/bin/cmd/test/mod.rs
  crates/forge/src/lib.rs
  crates/forge/src/multi_runner.rs
  crates/forge/tests/cli/config.rs
  crates/forge/tests/fixtures/suggest_when_no_tests_match.stdout
  crates/forge/tests/fixtures/warn_no_tests.stdout
  crates/forge/tests/fixtures/warn_no_tests_match.stdout
  crates/forge/tests/it/test_helpers.rs
  crates/script/src/build.rs
  crates/script/src/execute.rs
  crates/script/src/lib.rs
  testdata/default/cheats/GetCode.t.sol
  testdata/default/cheats/GetDeployedCode.t.sol
Owners: @danipopes, @evalir, @mattsse, @klkvr

fix: do not flood dictionary with data dependent on fuzz inputs (#7552)
  crates/evm/evm/src/executors/fuzz/mod.rs
  crates/evm/evm/src/executors/invariant/mod.rs
  crates/evm/fuzz/src/inspector.rs
  crates/evm/fuzz/src/strategies/calldata.rs
  crates/evm/fuzz/src/strategies/mod.rs
  crates/evm/fuzz/src/strategies/param.rs
  crates/evm/fuzz/src/strategies/state.rs
  crates/forge/src/runner.rs
Owners: @danipopes, @evalir, @mattsse

Feat: Index cheatcode for Strings (#7539)
  crates/cheatcodes/assets/cheatcodes.json
  crates/cheatcodes/spec/src/vm.rs
  crates/cheatcodes/src/string.rs
  testdata/cheats/Vm.sol
  testdata/default/cheats/StringUtils.t.sol
Owners: @danipopes, @mattsse, @klkvr, @evalir

Changes after review: don't collect
  crates/evm/evm/src/executors/invariant/error.rs
Owners: @danipopes, @evalir, @mattsse

nits
  crates/verify/src/bytecode.rs
Owners: @danipopes, @evalir, @mattsse

add(verify-bytecode): check for bytecode hash config details and notify accordingly
  crates/verify/src/bytecode.rs
Owners: @danipopes, @evalir, @mattsse

use cache
  crates/verify/src/bytecode.rs
Owners: @danipopes, @evalir, @mattsse

.github/CODEOWNERS:

* @danipopes @evalir @mattsse

crates/anvil/        @danipopes @mattsse @evalir
crates/cheatcodes/   @danipopes @mattsse @klkvr @evalir
crates/evm/coverage/ @onbjerg
crates/fmt/          @rkrasiuk
crates/linking/      @klkvr
crates/macros/       @danipopes
crates/script/       @danipopes @mattsse @klkvr
crates/wallets/      @klkvr
