Repository foundry-rs/foundry, pull requests merged in 2023-08, with the labels that each got.

#5523 fix(cast): continue execution after preceding reverted transaction
  anvil/src/eth/backend/mem/mod.rs
  cli/src/cmd/cast/run.rs
  cli/src/cmd/forge/install.rs
  cli/src/cmd/forge/script/broadcast.rs
  cli/src/cmd/forge/script/cmd.rs
  cli/src/cmd/forge/script/executor.rs
  evm/src/trace/decoder.rs
  forge/src/gas_report.rs
Labels: T-bug, C-cast

#5546 fix: add is dynamic fee fn
  anvil/core/src/eth/transaction/mod.rs
  anvil/src/eth/backend/mem/mod.rs
Labels: C-anvil

#5613 feat: `copyFile` cheatcode
  crates/abi/README.md
  crates/abi/abi/HEVM.sol
  crates/abi/src/bindings/hevm.rs
  crates/cli/src/forge/cmd/script/multi.rs
  crates/cli/src/forge/cmd/script/sequence.rs
  crates/cli/src/utils/mod.rs
  crates/common/src/errors/fs.rs
  crates/common/src/fs.rs
  crates/common/src/selectors.rs
  crates/evm/src/executor/fork/cache.rs
  crates/evm/src/executor/inspector/cheatcodes/env.rs
  crates/evm/src/executor/inspector/cheatcodes/fs.rs
  testdata/cheats/Fs.t.sol
  testdata/cheats/Vm.sol
Labels: A-cheatcodes

#4455 feat: print event definitions
  crates/chisel/src/executor.rs
Labels: C-chisel

#5501 feat(cast): add JWT secret configuration
  Cargo.lock
  crates/cli/src/opts/ethereum.rs
  crates/cli/src/utils/mod.rs
  crates/common/Cargo.toml
  crates/common/src/provider.rs
  crates/config/src/lib.rs
  crates/forge/tests/cli/config.rs
Labels: T-feature, C-cast
