Repository foundry-rs/foundry, pull requests merged in 2023-07, with the labels that each got.

#5263 perf: spawn tokio runtime once
  .github/workflows/deny.yml
  .github/workflows/test.yml
  Cargo.lock
  anvil/tests/it/sign.rs
  cast/src/tx.rs
  chisel/src/executor.rs
  cli/src/cmd/cast/run.rs
  cli/src/cmd/forge/coverage.rs
  cli/src/cmd/forge/script/executor.rs
  cli/src/cmd/forge/snapshot.rs
  cli/src/cmd/forge/test/mod.rs
  cli/src/cmd/forge/verify/etherscan/mod.rs
  cli/src/forge.rs
  cli/tests/it/svm.rs
  common/Cargo.toml
  common/src/selectors.rs
  common/src/traits.rs
  evm/src/executor/backend/mod.rs
  evm/src/executor/fork/backend.rs
  evm/src/executor/fork/multi.rs
  evm/src/executor/opts.rs
  evm/src/trace/identifier/signatures.rs
  forge/Cargo.toml
  forge/src/multi_runner.rs
  forge/src/runner.rs
  forge/tests/it/cheats.rs
  forge/tests/it/config.rs
  forge/tests/it/core.rs
  forge/tests/it/fork.rs
  forge/tests/it/fs.rs
  forge/tests/it/fuzz.rs
  forge/tests/it/inline.rs
  forge/tests/it/invariant.rs
  forge/tests/it/repros.rs
  forge/tests/it/spec.rs
  forge/tests/it/test_helpers.rs
Labels: T-perf

#5273 fix: rm leftover block_on
  cli/src/cmd/forge/test/mod.rs
Labels: T-bug

#5335 feat(anvil): Anvil `--unlocked` for auto-impersonation on instance creation
  anvil/core/src/eth/mod.rs
  anvil/src/cmd.rs
  anvil/src/config.rs
  anvil/src/eth/api.rs
  anvil/src/eth/backend/mem/mod.rs
  anvil/src/lib.rs
Labels: C-anvil

#5404 fix(`evm`): check for global failure instead of DSTest flag when reverting snapshots
  evm/src/executor/backend/mod.rs
  forge/tests/it/repros.rs
  testdata/repros/Issue3792.t.sol
Labels: A-evm

#5397 feat: remapping contexts
  Cargo.lock
  cli/src/cmd/forge/remappings.rs
  cli/src/cmd/forge/script/build.rs
  cli/tests/it/config.rs
  common/src/compile.rs
  config/src/providers/remappings.rs
  config/src/utils.rs
Labels: T-feature, C-forge, Cmd-forge-build
