Repository foundry-rs/foundry, pull requests merged in 2023-10, with the labels that each got.

#5991 fix: add missing checks for system transactions
  crates/cast/bin/cmd/run.rs
  crates/common/src/constants.rs
  crates/evm/src/executor/backend/mod.rs
Labels: T-bug, C-cast

#6009 fix: correct check for scientific notation
  Cargo.lock
  crates/evm/src/executor/inspector/cheatcodes/ext.rs
  crates/evm/src/executor/inspector/cheatcodes/mod.rs
  crates/forge/Cargo.toml
  crates/forge/tests/it/config.rs
  crates/forge/tests/it/repros.rs
  testdata/repros/Issue6006.t.sol
Labels: T-bug

#6054 fix: dont replace solc with solc_version
  crates/config/src/lib.rs
Labels: T-bug

#6097 fix: wrong subtract timestamp
  crates/anvil/src/eth/backend/mem/mod.rs
  crates/anvil/tests/it/anvil_api.rs
Labels: T-bug, C-anvil

#6107 anvil: Fix snapshot revert not updating block-env correctly
  crates/anvil/src/eth/backend/mem/mod.rs
  crates/anvil/tests/it/anvil_api.rs
Labels: C-anvil
