Repository foundry-rs/foundry, pull requests merged in 2023-01, with the labels that each got.

#4010 fix(forge): remove early mempool check when broadcasting
  cli/src/cmd/forge/script/receipts.rs
Labels: T-bug, Cmd-forge-script

#4013 chore(deps): bump ethers
  Cargo.lock
Labels: L-ignore

#3959 feat: add macro crate
  .github/workflows/cross-platform.yml
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  common/src/fmt/ui.rs
  evm/Cargo.toml
  evm/src/executor/abi/fmt.rs
  evm/src/executor/abi/mod.rs
  evm/src/executor/inspector/logs.rs
  evm/src/executor/mod.rs
  macros/Cargo.toml
  macros/impl/Cargo.toml
  macros/impl/src/console_fmt.rs
  macros/impl/src/lib.rs
  macros/impl/src/utils.rs
  macros/src/console_fmt.rs
  macros/src/lib.rs
Labels: A-evm, T-feature, C-forge

#4015 ci: fix windows wsl installation
  .github/workflows/cross-platform.yml
Labels: L-ignore

#3976 feat(anvil): enable IPC for Windows
  .github/workflows/test.yml
  Cargo.lock
  anvil/src/eth/backend/time.rs
  anvil/src/lib.rs
  anvil/tests/it/ipc.rs
  anvil/tests/it/main.rs
  cast/src/lib.rs
Labels: T-feature, C-anvil

#4017 fix(macros): windows tests
  macros/impl/src/utils.rs
  macros/src/lib.rs
Labels: L-ignore

#4028 ci: run cross platform tests only on push
  .github/workflows/test.yml
Labels: L-ignore

#4030 fix(ci): cross platform if check
  .github/workflows/test.yml
Labels: L-ignore

#4018 fix(cast): only set function args if signature provided
  cast/src/errors.rs
  cast/src/lib.rs
  cast/src/tx.rs
  cli/src/cmd/cast/call.rs
Labels: T-bug, C-cast

#4031 feat(fmt): override spacing
  config/src/fmt.rs
  fmt/src/formatter.rs
  fmt/testdata/FunctionDefinition/override-spacing.fmt.sol
  fmt/testdata/ModifierDefinition/override-spacing.fmt.sol
  fmt/testdata/VariableDefinition/override-spacing.fmt.sol
Labels: T-feature, C-forge, Cmd-forge-fmt

#4027 feat(anvil): enable dumping state while forked
  anvil/src/eth/backend/mem/fork_db.rs
Labels: T-feature, C-anvil

#4041 feat(anvil): support evm_mine hex args
  anvil/core/Cargo.toml
  anvil/core/src/eth/mod.rs
  anvil/core/src/types.rs
Labels: T-feature, C-anvil

#4042 fix(anvil): use cfg_attr for serde derives
  anvil/core/src/types.rs
Labels: L-ignore, C-anvil

#4038 fix: don't prompt for password in cast call/estimate when ETH_FROM ad…
  cli/src/cmd/cast/call.rs
  cli/src/cmd/cast/estimate.rs
Labels: T-bug, C-cast

#4043 feat(cast): add cast call --data argument
  cli/src/cmd/cast/call.rs
Labels: T-feature, C-cast

#4046 fix: disable native tls on rusoto
  Cargo.lock
  cast/Cargo.toml
Labels: L-ignore

#4048 ci: ignore time crate advisory
  deny.toml
Labels: L-ignore

#4052 feat: add user agent to etherscan API client
  Cargo.lock
  config/Cargo.toml
  config/src/etherscan.rs
Labels: T-meta

#4053 feat: support solc output artifact format
  Cargo.lock
  evm/src/executor/inspector/cheatcodes/ext.rs
  evm/test-data/solc-obj.json
Labels: T-feature

#4023 refactor(fmt): change default for `override_spacing` to `false`
  config/src/fmt.rs
  fmt/testdata/FunctionDefinition/all.fmt.sol
  fmt/testdata/FunctionDefinition/fmt.sol
  fmt/testdata/FunctionDefinition/override-spacing.fmt.sol
  fmt/testdata/FunctionDefinition/params-first.fmt.sol
  fmt/testdata/ModifierDefinition/fmt.sol
  fmt/testdata/ModifierDefinition/override-spacing.fmt.sol
  fmt/testdata/VariableDefinition/fmt.sol
  fmt/testdata/VariableDefinition/override-spacing.fmt.sol
Labels: C-forge, Cmd-forge-fmt, A-config

#4062 docs: fix fork url example in Chisel
  chisel/README.md
Labels: A-docs, C-chisel

#4063 chore: remove empty fmt file
  cli/src/cmd/forge/fmt/find.rs
Labels: L-ignore

#4083 chore(deps): bump ethers
  Cargo.lock
Labels: L-ignore

#4084 chore(clippy): make clippy happy
  anvil/src/eth/pool/transactions.rs
  anvil/src/hardfork.rs
  binder/src/utils.rs
  common/src/shell.rs
  config/src/cache.rs
  config/src/fs_permissions.rs
  evm/src/lib.rs
  fmt/src/comments.rs
  fmt/src/string.rs
Labels: L-ignore

#4100 feat(forge): add support for getting bytecode from Huff artifacts
  evm/src/executor/inspector/cheatcodes/ext.rs
  testdata/cheats/GetCode.t.sol
  testdata/fixtures/GetCode/HuffWorkingContract.json
Labels: T-feature, C-forge, A-compiler

#2701 feat(forge): doc
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/assets/.gitignoreTemplate
  cli/src/cmd/forge/doc.rs
  cli/src/cmd/forge/mod.rs
  cli/src/forge.rs
  cli/src/opts/dependency.rs
  cli/src/opts/forge.rs
  cli/tests/it/config.rs
  cli/tests/it/doc.rs
  cli/tests/it/main.rs
  config/src/doc.rs
  config/src/lib.rs
  doc/Cargo.toml
  doc/README.md
  doc/src/builder.rs
  doc/src/document.rs
  doc/src/helpers.rs
  doc/src/lib.rs
  doc/src/parser/comment.rs
  doc/src/parser/error.rs
  doc/src/parser/item.rs
  doc/src/parser/mod.rs
  doc/src/preprocessor/contract_inheritance.rs
  doc/src/preprocessor/git_source.rs
  doc/src/preprocessor/inheritdoc.rs
  doc/src/preprocessor/mod.rs
  doc/src/server.rs
  doc/src/writer/as_doc.rs
  doc/src/writer/as_string.rs
  doc/src/writer/buf_writer.rs
  doc/src/writer/markdown.rs
  doc/src/writer/mod.rs
  doc/static/book.css
  doc/static/book.toml
  doc/static/solidity.min.js
  fmt/Cargo.toml
  fmt/src/comments.rs
  fmt/src/formatter.rs
  fmt/src/inline_config.rs
  fmt/src/solang_ext/operator.rs
Labels: T-feature, C-forge, Cmd-forge-doc

#4106 feet(doc): minor enhancements
  Cargo.lock
  cli/Cargo.toml
  cli/src/cmd/forge/fmt.rs
  config/src/doc.rs
  doc/Cargo.toml
  doc/src/builder.rs
  utils/Cargo.toml
  utils/src/glob.rs
  utils/src/lib.rs
Labels: T-feature, C-forge, Cmd-forge-doc

#4105 fix: serialize empty array to JSON
  evm/src/executor/inspector/cheatcodes/ext.rs
  testdata/cheats/Json.t.sol
Labels: C-forge, A-cheatcodes

#4103 chore(deps): solang-parser 0.2.1
  Cargo.lock
  chisel/Cargo.toml
  chisel/src/session_source.rs
  chisel/src/solidity_helper.rs
  cli/Cargo.toml
  cli/src/cmd/forge/geiger/visitor.rs
  doc/Cargo.toml
  doc/src/parser/item.rs
  doc/src/preprocessor/contract_inheritance.rs
  doc/src/preprocessor/inheritdoc.rs
  doc/src/writer/as_doc.rs
  doc/src/writer/as_string.rs
  fmt/Cargo.toml
  fmt/src/formatter.rs
  fmt/src/solang_ext/ast_eq.rs
  fmt/src/solang_ext/attr_sort_key.rs
  fmt/src/solang_ext/loc.rs
  fmt/src/solang_ext/mod.rs
  fmt/src/solang_ext/operator.rs
  fmt/src/solang_ext/safe_unwrap.rs
  fmt/src/visit.rs
  fmt/testdata/Annotation/fmt.sol
  fmt/testdata/Annotation/original.sol
  fmt/testdata/ConditionalOperatorExpression/fmt.sol
  fmt/testdata/ConditionalOperatorExpression/original.sol
  fmt/testdata/SelectorOverride/fmt.sol
  fmt/testdata/SelectorOverride/original.sol
Labels: T-debt

#4121 Update Lock
  Cargo.lock
Labels: L-ignore

#4122 chore(forge): doc, context on custom tags
  doc/src/parser/comment.rs
Labels: L-ignore

#4125 chore: rustfmt
  doc/src/parser/comment.rs
Labels: L-ignore

#4124 chore: update test fixtures after forge-std release
  cli/tests/fixtures/can_create_template_contract.stdout
  cli/tests/fixtures/can_create_using_unlocked.stdout
  cli/tests/fixtures/can_use_libs_in_multi_fork.stdout
Labels: L-ignore

#4126 chore: better etherscan compile error message
  evm/src/trace/identifier/etherscan.rs
Labels: L-ignore

#4138 chore: improve error message if given verifier url is host only
  cli/src/cmd/forge/verify/mod.rs
  cli/src/cmd/forge/verify/provider.rs
Labels: Cmd-forge-verify

#4137 chore(deps): replace dotenv with dotenvy
  Cargo.lock
  cli/Cargo.toml
  cli/src/utils.rs
Labels: L-ignore

#4134 Forge: Add --cups and --no-rate-limit options
  anvil/src/cmd.rs
  cli/tests/it/config.rs
  common/src/evm.rs
  config/src/lib.rs
  evm/src/executor/fork/multi.rs
  evm/src/executor/opts.rs
  testdata/foundry.toml
Labels: T-feature, Cmd-forge-test

#4149 Add gas price estimate in forge script summary
  cli/src/cmd/forge/script/broadcast.rs
Labels: Cmd-forge-script

#4151 fix(verify): configure correct etherscan base url
  cli/src/cmd/forge/verify/etherscan/mod.rs
Labels: T-bug, Cmd-forge-verify

#4152 chore: clippy
  cli/tests/it/cmd.rs
  cli/tests/it/create.rs
  cli/tests/it/test_cmd.rs
  cli/tests/it/utils.rs
  cli/tests/it/verify.rs
Labels: L-ignore

#4148 fix(chisel): comment errors
  Cargo.lock
  chisel/Cargo.toml
  chisel/src/dispatcher.rs
  chisel/src/executor.rs
Labels: C-chisel

#4147 fix(chisel): invalid input panic
  chisel/src/solidity_helper.rs
Labels: T-bug, C-chisel

#4159 chore(forge): doc ignore invalid natspec tags
  Cargo.lock
  doc/Cargo.toml
  doc/src/parser/comment.rs
  doc/src/parser/mod.rs
Labels: C-forge, Cmd-forge-doc

#4161 dep: upgrade git2
  Cargo.lock
  binder/Cargo.toml
  binder/README.md
Labels: L-ignore

#4140 fix(anvil): fix forked block edge case
  anvil/src/eth/backend/genesis.rs
  anvil/src/eth/backend/mem/mod.rs
  anvil/tests/it/fork.rs
Labels: T-bug, C-anvil

#4165 feat(anvil): add evm_setAccountNonce alias
  anvil/core/src/eth/mod.rs
Labels: C-anvil

#4158 Anvil: Checksum address output in start-up log
  anvil/src/config.rs
Labels: C-anvil

#4166 feat(anvil): add evm_setTime
  anvil/core/src/eth/mod.rs
  anvil/src/eth/api.rs
  anvil/tests/it/anvil_api.rs
Labels: C-anvil

#4175 chore: rm broken infura key
  utils/src/rpc.rs
Labels: L-ignore

#4143 feat(chisel): improve inspector
  chisel/benches/session_source.rs
  chisel/src/bin/chisel.rs
  chisel/src/dispatcher.rs
  chisel/src/executor.rs
  chisel/src/session.rs
  chisel/src/session_source.rs
  chisel/tests/cache.rs
Labels: C-chisel

#4176 chore(forge): sort snapshot report
  cli/src/cmd/forge/snapshot.rs
Labels: C-forge

#4184 chore: rm broken infura key
  utils/src/rpc.rs
Labels: L-ignore

#4183 refactor: always use hash of MinedTransaction when building tx
  anvil/src/eth/api.rs
  anvil/src/eth/backend/mem/mod.rs
Labels: C-anvil

#4185 fix(anvil): make impersonated tx hashes sender unique
  anvil/core/src/eth/transaction/mod.rs
  anvil/src/eth/api.rs
  anvil/tests/it/anvil_api.rs
Labels: T-bug, C-anvil

#4179 fix(evm): include missing CREATE and CREATE2 geth traces
  evm/src/trace/mod.rs
Labels: T-bug

#4188 fix(anvil): stricter memory limits in interval mining mode
  anvil/src/config.rs
  anvil/src/eth/api.rs
  anvil/src/eth/backend/mem/mod.rs
  anvil/src/eth/backend/mem/storage.rs
Labels: C-anvil

#4192 chore: rm broken infura key
  utils/src/rpc.rs
Labels: L-ignore

#4193 chore(chisel): show version result on error
  chisel/src/session_source.rs
Labels: L-ignore

#4191 fix(forge): ignore contracts defined in lib paths
  cli/src/cmd/forge/coverage.rs
  cli/src/cmd/forge/test/filter.rs
  cli/src/cmd/forge/test/mod.rs
  cli/src/cmd/forge/watch.rs
Labels: Cmd-forge-test

#4189 fix(anvil): purge old on disk state
  anvil/src/eth/backend/mem/cache.rs
  anvil/src/eth/backend/mem/storage.rs
Labels: C-anvil

#4196 fix(anvil): Use the block's base fee when calculating effective gas price for a tx receipt
  anvil/src/eth/backend/mem/mod.rs
  anvil/tests/it/anvil_api.rs
Labels: T-bug, C-anvil

#4181 feat: disable eip3607 by default in forge test
  evm/Cargo.toml
  evm/src/executor/fork/cache.rs
  evm/src/executor/fork/init.rs
  evm/src/executor/opts.rs
Labels: T-feature, Cmd-forge-test

#4198 chore: more sensible default limits
  anvil/src/eth/backend/mem/storage.rs
Labels: C-anvil

#4202 fix(anvil): rm disk states on clear
  anvil/src/eth/backend/mem/storage.rs
Labels: T-bug, C-anvil

#4203 perf: tune storage limit defaults
  anvil/src/eth/backend/mem/storage.rs
Labels: T-bug, C-anvil

#4210 fix(anvil): track impersonated sender for transaction
  anvil/Cargo.toml
  anvil/core/Cargo.toml
  anvil/core/src/eth/block.rs
  anvil/core/src/eth/transaction/ethers_compat.rs
  anvil/core/src/eth/transaction/mod.rs
  anvil/src/eth/backend/cheats.rs
  anvil/src/eth/backend/executor.rs
  anvil/src/eth/backend/mem/mod.rs
  anvil/src/eth/backend/mem/storage.rs
  anvil/src/eth/fees.rs
  anvil/tests/it/pubsub.rs
Labels: T-bug, C-anvil

#4212 feat(fmt): Add new line at start and end of contract option
  config/src/fmt.rs
  fmt/src/formatter.rs
  fmt/testdata/ContractDefinition/contract-new-lines.fmt.sol
Labels: T-feature, C-forge, Cmd-forge-fmt

#4228 fix(cast): estimate and call sender options
  cli/src/cmd/cast/call.rs
  cli/src/cmd/cast/estimate.rs
Labels: T-bug, C-cast

#4230 chore(deps): bump ethers
  Cargo.lock
Labels: L-ignore

#4224 docs(forge): improve `ensure_git_status_clean` error message
  cli/src/cmd/forge/install.rs
  cli/tests/fixtures/can_detect_dirty_git_status_on_init.stderr
Labels: C-forge

#4160 respect silent argument in script command
  cli/src/cmd/forge/script/broadcast.rs
  cli/src/cmd/forge/script/cmd.rs
  cli/src/cmd/forge/script/executor.rs
  cli/src/cmd/forge/script/mod.rs
  cli/src/cmd/forge/script/sequence.rs
  common/src/shell.rs
  rustfmt.toml
Labels: Cmd-forge-script

#4204 fix: replace difficulty with prevrandao after merge
  anvil/src/config.rs
  evm/src/executor/fork/init.rs
  evm/src/utils.rs
Labels: A-evm

#4233 fix(forge): get etherscan api key from config when using anvil chain
  cli/src/cmd/forge/script/verify.rs
Labels: T-bug, Cmd-forge-script

#4234 fix(cast): interface arg name lookup
  Cargo.lock
  testdata/fixtures/SolidityGeneration/WithStructs.json
  testdata/fixtures/SolidityGeneration/WithStructs.sol
  utils/Cargo.toml
  utils/src/abi.rs
Labels: T-bug, C-cast

#4235 feat(geiger): paths ignore option
  cli/src/cmd/forge/geiger/mod.rs
Labels: T-feature, C-forge, Cmd-forge-geiger

#4237 fix(forge) fix a typo in logging output
  cli/src/cmd/forge/script/sequence.rs
Labels: L-ignore
