Repository foundry-rs/foundry, pull requests merged in 2023-04, with the labels that each got.

#4676 feat(anvil): shutdown on sigterm
  anvil/src/cmd.rs
Labels: C-anvil

#4677 fix: use fuzz config as configured
  forge/src/lib.rs
  forge/src/runner.rs
Labels: T-bug

#4678 feat: support max literal
  config/src/fuzz.rs
  config/src/utils.rs
  forge/src/runner.rs
Labels: T-feature

#4684 fix: use block.number when creating fork
  anvil/src/config.rs
  evm/src/executor/fork/backend.rs
  evm/src/executor/fork/init.rs
  evm/src/executor/fork/multi.rs
  evm/src/executor/opts.rs
Labels: T-bug

#4680 perf(fuzz): improve Fuzz Dictionary size enforcement
  config/src/fuzz.rs
  config/src/invariant.rs
  config/src/lib.rs
  evm/src/executor/inspector/fuzzer.rs
  evm/src/fuzz/invariant/executor.rs
  evm/src/fuzz/mod.rs
  evm/src/fuzz/strategies/param.rs
  evm/src/fuzz/strategies/state.rs
  forge/tests/it/config.rs
  forge/tests/it/invariant.rs
Labels: A-fuzzing

#4704 fix(chisel): properly load and save history
  chisel/src/bin/chisel.rs
  chisel/src/history.rs
  chisel/src/lib.rs
Labels: C-chisel

#4703 fix(chisel): support library imports
  chisel/src/dispatcher.rs
  chisel/src/executor.rs
  chisel/src/session_source.rs
Labels: C-chisel

#4705 feat(cast): add optimize selector command
  Cargo.lock
  cast/Cargo.toml
  cast/src/lib.rs
  cli/src/cast.rs
  cli/src/opts/cast.rs
Labels: C-cast

#4731 chore: rm redundant Arc
  cast/src/lib.rs
Labels: L-ignore

#4733 fix(anvil): dont adjust from block
  anvil/src/eth/backend/mem/mod.rs
Labels: T-bug, C-anvil

#4673 feat: Auto Impersonation
  anvil/core/src/eth/mod.rs
  anvil/src/eth/api.rs
  anvil/src/eth/backend/cheats.rs
  anvil/src/eth/backend/mem/mod.rs
Labels: C-anvil

#4749 test(anvil): add auto impersonate test
  anvil/src/eth/api.rs
  anvil/src/eth/backend/cheats.rs
  anvil/tests/it/anvil_api.rs
Labels: C-anvil

#4661 chore: update solang-parser
  Cargo.lock
  Cargo.toml
  chisel/Cargo.toml
  chisel/src/executor.rs
  chisel/src/solidity_helper.rs
  cli/Cargo.toml
  cli/src/cmd/forge/geiger/visitor.rs
  doc/Cargo.toml
  doc/src/lib.rs
  doc/src/writer/as_doc.rs
  doc/src/writer/as_string.rs
  doc/src/writer/buf_writer.rs
  doc/src/writer/mod.rs
  fmt/Cargo.toml
  fmt/src/buffer.rs
  fmt/src/comments.rs
  fmt/src/formatter.rs
  fmt/src/helpers.rs
  fmt/src/lib.rs
  fmt/src/solang_ext/ast_eq.rs
  fmt/src/solang_ext/attr_sort_key.rs
  fmt/src/solang_ext/is_empty.rs
  fmt/src/solang_ext/loc.rs
  fmt/src/solang_ext/mod.rs
  fmt/src/solang_ext/operator.rs
  fmt/src/solang_ext/safe_unwrap.rs
  fmt/src/visit.rs
  fmt/testdata/IfStatement/fmt.sol
  fmt/testdata/IfStatement2/fmt.sol
  fmt/testdata/IfStatement2/original.sol
  fmt/tests/it/formatter.rs
  fmt/tests/it/main.rs
Labels: Cmd-forge-fmt

#4698 fix: fix ord verify bug
  cli/src/cmd/forge/verify/etherscan/standard_json.rs
Labels: Cmd-forge-verify

#4767 fix(forge): update forge remove
  cli/src/cmd/forge/remove.rs
  cli/src/opts/dependency.rs
Labels: C-forge

#4773 style: replace macro with closure
  cli/src/opts/wallet/mod.rs
Labels: L-ignore

#4769 chore: remove infura test keys
  utils/src/rpc.rs
Labels: L-ignore

#4775 feat(chisel): add support for setting `msg.data`
  chisel/src/bin/chisel.rs
  chisel/src/cmd.rs
  chisel/src/dispatcher.rs
  chisel/src/executor.rs
  chisel/src/runner.rs
  chisel/src/session_source.rs
  chisel/tests/cache.rs
Labels: C-chisel

#4781 chore: replace infura keys
  .github/workflows/live-test.yml
  evm/src/executor/fork/backend.rs
  testdata/repros/Issue2956.t.sol
  testdata/repros/Issue3221.sol
  testdata/repros/Issue3223.sol
  testdata/repros/Issue3674.t.sol
Labels: L-ignore

#4792 fix: Fix self signed certificates in chain by using correct Reqwest feature
  cli/Cargo.toml
Labels: T-bug

#4796 feat(foundryup): add support for MINGW
  README.md
  foundryup/foundryup
Labels: T-meta

#4799 chore: small cheatcode improvements
  evm/src/executor/abi/mod.rs
  evm/src/executor/inspector/logs.rs
Labels: A-cheatcodes

#4801 (feat) add conditional breakpoints
  evm/src/executor/abi/mod.rs
  evm/src/executor/inspector/cheatcodes/env.rs
  ui/src/lib.rs
Labels: A-cheatcodes, A-debugger

#4768 refactor/docs: rewrite clap attributes to use doc comments
  anvil/src/anvil.rs
  anvil/src/cmd.rs
  chisel/src/bin/chisel.rs
  cli/src/cast.rs
  cli/src/cmd/cast/call.rs
  cli/src/cmd/cast/create2.rs
  cli/src/cmd/cast/estimate.rs
  cli/src/cmd/cast/find_block.rs
  cli/src/cmd/cast/interface.rs
  cli/src/cmd/cast/rpc.rs
  cli/src/cmd/cast/run.rs
  cli/src/cmd/cast/send.rs
  cli/src/cmd/cast/storage.rs
  cli/src/cmd/cast/wallet/mod.rs
  cli/src/cmd/cast/wallet/vanity.rs
  cli/src/cmd/forge/bind.rs
  cli/src/cmd/forge/build/core.rs
  cli/src/cmd/forge/build/mod.rs
  cli/src/cmd/forge/build/paths.rs
  cli/src/cmd/forge/cache.rs
  cli/src/cmd/forge/config.rs
  cli/src/cmd/forge/coverage.rs
  cli/src/cmd/forge/create.rs
  cli/src/cmd/forge/debug.rs
  cli/src/cmd/forge/doc.rs
  cli/src/cmd/forge/flatten.rs
  cli/src/cmd/forge/fmt.rs
  cli/src/cmd/forge/fourbyte.rs
  cli/src/cmd/forge/init.rs
  cli/src/cmd/forge/inspect.rs
  cli/src/cmd/forge/install.rs
  cli/src/cmd/forge/remappings.rs
  cli/src/cmd/forge/remove.rs
  cli/src/cmd/forge/script/mod.rs
  cli/src/cmd/forge/script/transaction.rs
  cli/src/cmd/forge/snapshot.rs
  cli/src/cmd/forge/test/mod.rs
  cli/src/cmd/forge/tree.rs
  cli/src/cmd/forge/update.rs
  cli/src/cmd/forge/verify/mod.rs
  cli/src/cmd/forge/verify/provider.rs
  cli/src/cmd/forge/watch.rs
  cli/src/cmd/retry.rs
  cli/src/forge.rs
  cli/src/opts/cast.rs
  cli/src/opts/ethereum.rs
  cli/src/opts/forge.rs
  cli/src/opts/transaction.rs
  cli/src/opts/wallet/mod.rs
  cli/src/opts/wallet/multi_wallet.rs
  common/src/evm.rs
  config/src/macros.rs
Labels: C-cast, C-forge

#4795 feat(cast): support all tx options for access-list
  cli/src/cast.rs
  cli/src/cmd/cast/access_list.rs
  cli/src/cmd/cast/mod.rs
  cli/src/opts/cast.rs
  cli/tests/it/cast.rs
Labels: C-cast
