Repository foundry-rs/foundry, pull requests merged in 2023-02, with the labels that each got.

#4254 refactor(cli): add cli prompts
  cli/src/cast.rs
  cli/src/cmd/forge/install.rs
  cli/src/stdin.rs
  cli/src/utils.rs
  cli/tests/it/cmd.rs
Labels: L-ignore

#4263 feat(anvil): support max mem history value for --prune-history
  anvil/src/cmd.rs
  anvil/src/config.rs
  anvil/src/eth/backend/mem/mod.rs
  anvil/src/eth/backend/mem/storage.rs
Labels: C-anvil

#4267 fix: install shell only once
  cli/src/cmd/forge/script/cmd.rs
  cli/src/forge.rs
Labels: T-bug

#4268 test: synchronize solc installation in test
  Cargo.lock
  chisel/Cargo.toml
  chisel/src/executor.rs
Labels: L-ignore, C-chisel

#4274 fix: calculate overall gas diff correctly
  cli/src/cmd/forge/snapshot.rs
Labels: T-bug, C-forge

#4277 fix(anvil): Ensure the transaction's block number predates the fork before returning a receipt
  anvil/src/eth/backend/mem/mod.rs
  anvil/tests/it/fork.rs
Labels: T-bug, C-anvil

#4275 chore: add update deps message in install command
  cli/src/cmd/forge/install.rs
Labels: L-ignore

#4284 fix(cast): `etherscan-source` api key short arg
  cli/src/opts/cast.rs
Labels: L-ignore

#4270 docs: document "cbor_metadata" in README
  config/README.md
Labels: L-ignore

#4278 fix(anvil): memory only state non-zero limit infinite loop
  anvil/src/eth/backend/mem/storage.rs
Labels: T-bug, C-anvil

#4288 fix: Canonicalize jsonPath to avoid breaking change
  evm/src/executor/inspector/cheatcodes/ext.rs
  testdata/cheats/Json.t.sol
Labels: T-bug, A-cheatcodes

#4324 feat(anvil): add --disable-block-gas-limit
  anvil/src/cmd.rs
  anvil/src/config.rs
  anvil/tests/it/transaction.rs
  evm/Cargo.toml
  evm/src/executor/fork/cache.rs
Labels: T-feature, C-anvil

#4326 chore(script): improve path file name errors
  cli/src/cmd/forge/script/multi.rs
Labels: L-ignore, Cmd-forge-script

#4332 chore: Sort foundry workspace members alphabetically
  Cargo.toml
Labels: L-ignore

#4334 chore(clippy): make clippy happy
  doc/src/parser/comment.rs
  doc/src/parser/item.rs
Labels: L-ignore

#4328 dep: solang parser 0.2.2
  Cargo.lock
  Cargo.toml
  anvil/tests/it/ganache.rs
  anvil/tests/it/revert.rs
  anvil/tests/it/traces.rs
  chisel/Cargo.toml
  chisel/src/executor.rs
  chisel/src/session_source.rs
  cli/Cargo.toml
  cli/src/cmd/forge/script/build.rs
  cli/src/cmd/forge/verify/etherscan/flatten.rs
  config/src/lib.rs
  doc/Cargo.toml
  doc/src/writer/as_string.rs
  fmt/Cargo.toml
  fmt/src/chunk.rs
  fmt/src/formatter.rs
  fmt/src/solang_ext/ast_eq.rs
  fmt/testdata/MappingType/fmt.sol
  fmt/testdata/MappingType/original.sol
Labels: C-forge, Cmd-forge-fmt

#4330 fix: support versioned linking
  utils/src/lib.rs
Labels: T-bug, Cmd-forge-test

#4355 chore: update fixtures for forge-std 1.4
  cli/tests/fixtures/can_create_template_contract.stdout
  cli/tests/fixtures/can_create_using_unlocked.stdout
  cli/tests/fixtures/can_test_repeatedly.stdout
  cli/tests/fixtures/can_use_libs_in_multi_fork.stdout
Labels: L-ignore

#4354 fix(anvil): `anvil_setNextBlockBaseFeePerGas` return error old hardfork
  anvil/src/eth/api.rs
Labels: T-bug, C-anvil

#4366 fix(anvil): add chain id field
  anvil/core/src/eth/transaction/ethers_compat.rs
  anvil/core/src/eth/transaction/mod.rs
  anvil/src/eth/api.rs
Labels: T-bug, C-anvil

#4349 chore: replace custom CLI parsers with ethers FromStr implementations
  cli/src/cmd/cast/call.rs
  cli/src/cmd/cast/estimate.rs
  cli/src/cmd/cast/send.rs
  cli/src/cmd/cast/storage.rs
  cli/src/opts/cast.rs
Labels: L-ignore

#4380 fix: use FromStr for NameOrAddress parsing
  cli/src/cmd/cast/call.rs
  cli/src/cmd/cast/estimate.rs
  cli/src/cmd/cast/send.rs
  cli/src/cmd/cast/storage.rs
  cli/src/opts/cast.rs
Labels: T-bug

#4387 fix(anvil): ensure typed tx supported based on hardfork
  anvil/src/eth/api.rs
  anvil/src/eth/backend/mem/mod.rs
  anvil/src/eth/error.rs
  anvil/tests/it/transaction.rs
Labels: T-bug, C-anvil

#4383 chore(deps): bump ethers
  Cargo.lock
Labels: L-ignore

#4392 fix(forge): set correct gas limit when exiting `CREATE` frames when gas metering is paused
  evm/src/executor/inspector/cheatcodes/mod.rs
  testdata/cheats/GasMetering.t.sol
Labels: C-forge, A-cheatcodes

#4391 chore: use compat wording in out of gas error
  anvil/src/eth/error.rs
Labels: C-anvil

#4390 chore(anvil): improve error logs
  anvil/src/eth/backend/mem/mod.rs
Labels: C-anvil

#4389 fix(anvil): disable block gas limit in eth_call
  anvil/src/eth/backend/mem/mod.rs
Labels: C-anvil

#4404 feat(fmt): diagnostics report
  Cargo.lock
  cli/src/cmd/forge/fmt.rs
  fmt/Cargo.toml
  fmt/src/helpers.rs
  fmt/src/lib.rs
Labels: T-feature, C-forge, Cmd-forge-fmt

#4411 feat: add --memory-limit to env args
  common/src/evm.rs
Labels: Cmd-forge-test

#4408 recommended to install WSL 2
  README.md
Labels: A-docs

#4413 feat: Add new `expectCall` cheatcode variants
  evm/src/executor/abi/mod.rs
  evm/src/executor/inspector/cheatcodes/expect.rs
  evm/src/executor/inspector/cheatcodes/mod.rs
  forge/README.md
  testdata/cache/solidity-files-cache.json
  testdata/cheats/Cheats.sol
  testdata/cheats/ExpectCall.t.sol
Labels: T-feature, A-cheatcodes

#4416 chor: add ledger trace
  cli/src/opts/wallet/multi_wallet.rs
Labels: L-ignore

#4415 chore: bump svm-rs with 0.8.19
  Cargo.lock
  anvil/tests/it/abi.rs
  anvil/tests/it/geth.rs
  anvil/tests/it/main.rs
  anvil/tests/it/revert.rs
  cli/Cargo.toml
  cli/tests/it/svm.rs
Labels: T-feature, C-forge

#4419 fix: exclude additional forge-std contracts in forge bind
  cli/src/cmd/forge/bind.rs
Labels: T-bug

#4421 chore(README): add chisel install instructions
  README.md
Labels: A-docs

#4426 test: add optimizer details test
  config/src/lib.rs
Labels: L-ignore

#4427 fix: disable optimizer details if optimizer is disabled
  config/src/lib.rs
Labels: T-bug

#4430 fix(fmt): emit stmt grouping
  fmt/src/formatter.rs
  fmt/testdata/EmitStatement/fmt.sol
  fmt/testdata/EmitStatement/original.sol
Labels: T-bug, C-forge, Cmd-forge-fmt

#4429 docs: correct example for disable-next-line
  fmt/README.md
Labels: A-docs

#4432 fix(anvil): apply load state in memdb
  anvil/src/eth/backend/db.rs
  anvil/src/eth/backend/mem/fork_db.rs
  anvil/src/eth/backend/mem/in_memory_db.rs
Labels: C-anvil

#4431 fix(anvil): set transaction type in receipt
  anvil/core/src/eth/transaction/ethers_compat.rs
  anvil/core/src/eth/transaction/mod.rs
  anvil/src/eth/backend/mem/mod.rs
Labels: T-bug, C-anvil
