Repository foundry-rs/foundry, pull requests merged in 2023-12, with the labels that each got.

#6560 test: add snapshot revert test
  crates/anvil/tests/it/fork.rs
Labels: C-anvil

#6637 fix(fmt): properly format enums
  crates/fmt/src/formatter.rs
  crates/fmt/testdata/EnumVariants/fmt.sol
  crates/fmt/testdata/EnumVariants/original.sol
  crates/fmt/tests/formatter.rs
Labels: Cmd-forge-fmt

#6638 fix(cheatcodes): silence warnings for older Solidity versions
  crates/cheatcodes/assets/cheatcodes.json
  crates/cheatcodes/spec/src/vm.rs
  crates/cheatcodes/src/evm/fork.rs
  testdata/cheats/Vm.sol
Labels: T-debt
