Repository foundry-rs/foundry, pull requests merged in 2023-06, with the labels that each got.

#5083 fix: dont use default etherscan identifier
  evm/src/trace/identifier/etherscan.rs
Labels: T-bug

#5042 feat(cast): get logs
  cast/src/lib.rs
  cli/src/cast.rs
  cli/src/cmd/cast/logs.rs
  cli/src/cmd/cast/mod.rs
  cli/src/opts/cast.rs
  cli/tests/fixtures/cast_logs.stdout
  cli/tests/it/cast.rs
Labels: T-feature, C-cast

#5126 fix(anvil): disable basefee if manually set to 0
  anvil/src/eth/backend/mem/mod.rs
  evm/Cargo.toml
  evm/src/executor/fork/cache.rs
Labels: A-evm

#5183 fix: don't set block env's difficulty with fork's total difficulty
  anvil/src/eth/backend/mem/mod.rs
Labels: C-anvil

#5164 fix: dedupe linker outputs
  cli/src/cmd/forge/script/build.rs
  utils/src/lib.rs
Labels: T-bug, C-forge, Cmd-forge-build, Cmd-forge-script

#5189 chore: bump strum
  Cargo.lock
  chisel/Cargo.toml
  cli/Cargo.toml
Labels: L-ignore

#5211 chore: Clean up docs for `abi-decode` & `calldata-decode`
  cast/src/lib.rs
  cli/src/opts/cast.rs
Labels: A-docs

#5250 Read dotenv when running chisel
  chisel/src/bin/chisel.rs
Labels: C-chisel
