Repository foundry-rs/foundry, pull requests merged in 2023-03, with the labels that each got.

#4457 chore: bump clap
  Cargo.lock
Labels: L-ignore

#4459 test: update test fixture
  cli/tests/fixtures/can_create_template_contract.stdout
  cli/tests/fixtures/can_create_using_unlocked.stdout
  cli/tests/fixtures/can_use_libs_in_multi_fork.stdout
Labels: L-ignore

#4469 fix(forge): do not reset tx.origin during broadcast in forge script
  cli/tests/it/script.rs
  evm/src/executor/inspector/cheatcodes/mod.rs
Labels: T-bug, Cmd-forge-script

#4471 fix(anvil): return correct gas
  anvil/src/eth/api.rs
Labels: T-bug, C-anvil

#4463 Add complete type annotations for into I256
  evm/src/fuzz/strategies/int.rs
Labels: A-evm, T-debt

#4477 dep(fmt,chisel,doc): update `solang-parser` to 0.2.3
  Cargo.lock
  anvil/src/eth/backend/mem/mod.rs
  chisel/Cargo.toml
  chisel/src/executor.rs
  chisel/src/solidity_helper.rs
  cli/Cargo.toml
  cli/src/cmd/forge/geiger/visitor.rs
  doc/Cargo.toml
  doc/src/writer/as_string.rs
  fmt/Cargo.toml
  fmt/src/formatter.rs
  fmt/src/solang_ext/as_str.rs
  fmt/src/solang_ext/ast_eq.rs
  fmt/src/solang_ext/loc.rs
  fmt/src/solang_ext/mod.rs
  fmt/src/solang_ext/operator.rs
  fmt/testdata/Repros/fmt.sol
  fmt/testdata/Repros/original.sol
  fmt/testdata/UsingDirective/fmt.sol
  fmt/testdata/UsingDirective/original.sol
Labels: C-forge

#4492 chore: add testdata gitignore
  testdata/.gitignore
  testdata/cache/solidity-files-cache.json
Labels: L-ignore

#4482 Add "%e/%x" format support for forge console log
  macros/src/console_fmt.rs
Labels: T-feature, A-cheatcodes

#4495 chore(chisel): turn panics into errors
  chisel/src/executor.rs
Labels: C-chisel

#4496 feat(cli): use Config for Etherscan and RPCs
  cast/src/lib.rs
  cli/src/cast.rs
  cli/src/cmd/cast/bind.rs
  cli/src/cmd/cast/call.rs
  cli/src/cmd/cast/estimate.rs
  cli/src/cmd/cast/find_block.rs
  cli/src/cmd/cast/interface.rs
  cli/src/cmd/cast/rpc.rs
  cli/src/cmd/cast/run.rs
  cli/src/cmd/cast/send.rs
  cli/src/cmd/cast/storage.rs
  cli/src/cmd/cast/wallet/mod.rs
  cli/src/cmd/forge/build/mod.rs
  cli/src/cmd/forge/build/paths.rs
  cli/src/cmd/forge/create.rs
  cli/src/cmd/forge/inspect.rs
  cli/src/cmd/forge/script/broadcast.rs
  cli/src/cmd/forge/script/cmd.rs
  cli/src/cmd/forge/script/mod.rs
  cli/src/cmd/forge/script/sequence.rs
  cli/src/cmd/forge/script/verify.rs
  cli/src/cmd/forge/test/mod.rs
  cli/src/cmd/forge/verify/etherscan/mod.rs
  cli/src/cmd/forge/verify/mod.rs
  cli/src/cmd/forge/verify/sourcify.rs
  cli/src/opts/cast.rs
  cli/src/opts/chain.rs
  cli/src/opts/ethereum.rs
  cli/src/opts/wallet/mod.rs
  cli/src/opts/wallet/multi_wallet.rs
  cli/src/utils.rs
  cli/test-utils/src/script.rs
  cli/tests/it/cast.rs
  config/src/chain.rs
  config/src/lib.rs
Labels: C-cast, C-forge

#4479 feat(evm): add "expectEmit" variants
  evm/src/executor/abi/mod.rs
  evm/src/executor/inspector/cheatcodes/expect.rs
  testdata/cheats/Cheats.sol
  testdata/cheats/ExpectEmit.t.sol
Labels: A-cheatcodes

#4487 change pretty-calldata labels from decimal ints to hex values
  common/src/selectors.rs
Labels: C-cast, A-debugger

#4525 fix(config): use ExtractConfig Error
  cli/src/cmd/utils.rs
  config/src/error.rs
  config/src/lib.rs
Labels: T-bug

#4528 chore(clippy): make clippy happy
  anvil/src/cmd.rs
  anvil/src/service.rs
  anvil/src/tasks/mod.rs
  evm/src/executor/fork/backend.rs
  evm/src/executor/fork/multi.rs
  evm/src/executor/opts.rs
Labels: L-ignore

#4530 test(chisel): retry install attempts
  chisel/src/executor.rs
  chisel/src/session_source.rs
Labels: L-ignore

#4532 chore: add sepolia env settings
  cli/tests/it/utils.rs
Labels: L-ignore

#4531 test: print verify source address
  cli/tests/it/utils.rs
  cli/tests/it/verify.rs
Labels: L-ignore

#4527 perf(anvil): get rid of redundant chain id call
  anvil/src/config.rs
Labels: T-perf, C-anvil

#4535 feat(anvil): enable max priority fee per gas
  anvil/src/eth/api.rs
Labels: C-anvil

#4538 test: ignore flaky test on windows
  forge/tests/it/invariant.rs
Labels: L-ignore

#4537 fix(doc): distinguish contract interface library
  doc/src/parser/item.rs
Labels: T-bug, Cmd-forge-doc

#4526 perf(anvil): fetch all dev accounts concurrently in forking mode
  anvil/src/eth/backend/mem/mod.rs
  evm/src/executor/backend/error.rs
Labels: T-perf, C-anvil

#4544 chore(cast): add optimism-goerli chain detection
  cast/src/lib.rs
Labels: C-cast

#4219 Enable hardcoding gas in scripts
  cli/src/cmd/forge/script/broadcast.rs
  cli/src/cmd/forge/script/executor.rs
  cli/src/cmd/forge/script/transaction.rs
  cli/tests/it/script.rs
  evm/src/executor/inspector/cheatcodes/mod.rs
  evm/src/executor/inspector/cheatcodes/util.rs
Labels: T-feature, C-forge, Cmd-forge-script

#4548 chore(deps): bump ethers
  Cargo.lock
  anvil/src/config.rs
Labels: L-ignore

#4505 fix(chisel): Windows prompt
  chisel/src/bin/chisel.rs
  chisel/src/dispatcher.rs
  chisel/src/solidity_helper.rs
Labels: C-chisel

#4554 fix(fmt): proper char counting
  fmt/src/formatter.rs
  fmt/testdata/SimpleComments/fmt.sol
  fmt/testdata/SimpleComments/original.sol
  fmt/testdata/SimpleComments/wrap-comments.fmt.sol
Labels: T-bug, C-forge, Cmd-forge-fmt

#4562 fix(anvil): silence all logs if --silent
  anvil/src/cmd.rs
  anvil/src/lib.rs
Labels: T-bug, C-anvil

#4569 Fix bind --overwrite failing on first run
  cli/src/cmd/forge/bind.rs
Labels: T-bug

#4567 fix(evm): update env properly when fork to tx
  evm/src/executor/backend/mod.rs
Labels: T-bug, A-cheatcodes

#4576 feat(anvil): cache more fork responses
  anvil/core/src/eth/transaction/mod.rs
  anvil/src/eth/backend/fork.rs
  anvil/tests/it/transaction.rs
Labels: T-feature, C-anvil

#4575 fix(evm): initialize fuzzed backend
  evm/src/executor/backend/fuzz.rs
  evm/src/executor/backend/mod.rs
Labels: T-bug, A-evm, A-cheatcodes

#4580 implement ConsoleFmt for H256
  macros/src/console_fmt.rs
Labels: T-feature, A-cheatcodes

#4574 fix(verify): improve etherscan section parsing
  cli/src/cmd/forge/verify/mod.rs
  config/src/lib.rs
Labels: T-bug, Cmd-forge-verify

#4588 fix(evm): uninitialize fuzz backend on inspect
  evm/src/executor/backend/fuzz.rs
Labels: A-evm, A-cheatcodes

#4591 fix(cast): block opt
  cli/src/cast.rs
  cli/src/cmd/cast/call.rs
  cli/src/cmd/cast/storage.rs
  cli/src/opts/cast.rs
  cli/tests/it/cast.rs
  common/src/selectors.rs
Labels: C-cast

#4603 chore(deps): bump ethers
  Cargo.lock
Labels: L-ignore

#4605 test(anvil): use retryprovider
  anvil/tests/it/fork.rs
Labels: L-ignore

#4613 use workspace dependency for ethers-rs
  Cargo.lock
  Cargo.toml
  anvil/Cargo.toml
  anvil/core/Cargo.toml
  binder/Cargo.toml
  cast/Cargo.toml
  chisel/Cargo.toml
  cli/Cargo.toml
  cli/test-utils/Cargo.toml
  common/Cargo.toml
  config/Cargo.toml
  doc/Cargo.toml
  evm/Cargo.toml
  fmt/Cargo.toml
  forge/Cargo.toml
  macros/Cargo.toml
  ui/Cargo.toml
  utils/Cargo.toml
Labels: L-ignore

#4612 When adding submodules, check if the branch exists before setting on the submodule
  cli/src/cmd/forge/install.rs
Labels: T-bug, C-forge

#4621 chore(deps): bump ethers
  Cargo.lock
  Cargo.toml
Labels: L-ignore

#4627 perf: restrict state dictionary size
  config/src/fuzz.rs
  evm/src/fuzz/mod.rs
  evm/src/fuzz/strategies/state.rs
  forge/tests/it/config.rs
Labels: T-perf

#4631 fix: handle empty json select
  evm/src/executor/inspector/cheatcodes/ext.rs
  forge/tests/it/repros.rs
  testdata/fixtures/Json/Issue4630.json
  testdata/fixtures/Json/write_complex_test.json
  testdata/repros/Issue4630.t.sol
Labels: T-bug, A-cheatcodes

#4641 fix(cast): cast wallet keystore regression
  cli/src/opts/wallet/mod.rs
  cli/tests/it/cast.rs
Labels: T-bug, C-cast

#4642 chore: check for libusb in alternative homebrew location
  foundryup/install
Labels: L-ignore

#4646 fix struct name output by only returning last name segment
  utils/src/abi.rs
Labels: T-bug

#4647 chore(clippy): make clippy happy
  config/src/lib.rs
Labels: L-ignore

#4643 feat: add gasprice cheatcode
  evm/src/executor/abi/mod.rs
  evm/src/executor/inspector/cheatcodes/env.rs
Labels: A-cheatcodes

#4655 chore: remove unwrap
  cast/src/lib.rs
Labels: L-ignore

#4657 fix(chisel): respect --use and --offline
  chisel/src/session.rs
  chisel/src/session_source.rs
Labels: T-bug, C-chisel

#4665 refactor(evm): parse cheatcodes
  evm/src/executor/inspector/cheatcodes/ext.rs
  evm/src/executor/inspector/cheatcodes/util.rs
  forge/src/multi_runner.rs
Labels: A-cheatcodes

#4669 fix: set block.number to l1BlockNumber on arbitrum
  evm/src/utils.rs
  forge/tests/it/repros.rs
  forge/tests/it/test_helpers.rs
  testdata/repros/Issue4640.t.sol
Labels: T-bug

#4667 fix(evm): clone current journaled state if active
  evm/src/executor/backend/mod.rs
  forge/tests/it/repros.rs
  testdata/repros/Issue4586.t.sol
Labels: T-bug
