Repository foundry-rs/foundry, pull requests merged in 2023-05, with the labels that each got.

#4881 chore(evm): Bring over Reth's `InvalidTransaction`-related conversions
  anvil/src/eth/api.rs
  anvil/src/eth/backend/mem/mod.rs
  anvil/src/eth/error.rs
Labels: A-evm

#4887 fix(cast): cast wallet verify can be made to parse hex string
  cli/src/cmd/cast/wallet/mod.rs
Labels: C-cast

#4874 fix(cast): Harden `cast send` and provide more accurate error messages
  cli/src/cmd/cast/send.rs
  cli/src/opts/wallet/mod.rs
Labels: C-cast

#4744 feat: ux fuzz invariant
  Cargo.lock
  cli/src/cmd/forge/test/mod.rs
  config/Cargo.toml
  config/src/fuzz.rs
  config/src/inline/conf_parser.rs
  config/src/inline/mod.rs
  config/src/inline/natspec.rs
  config/src/invariant.rs
  config/src/lib.rs
  config/src/utils.rs
  forge/src/lib.rs
  forge/src/multi_runner.rs
  forge/src/runner.rs
  forge/tests/it/config.rs
  forge/tests/it/core.rs
  forge/tests/it/fork.rs
  forge/tests/it/fuzz.rs
  forge/tests/it/inline.rs
  forge/tests/it/invariant.rs
  forge/tests/it/main.rs
  forge/tests/it/test_helpers.rs
  testdata/inline/FuzzInlineConf.t.sol
  testdata/inline/InvariantInlineConf.t.sol
Labels: A-fuzzing, A-config

#4702 improving docs generation by adding homepage to config
  config/src/doc.rs
  doc/src/builder.rs
Labels: Cmd-forge-doc

#4930 fix: add missing ethers-solc feature
  evm/Cargo.toml
Labels: L-ignore, T-debt

#4957 fix: prevent dictionary weight panic
  evm/src/fuzz/mod.rs
Labels: T-bug, A-fuzzing

#4974 fix(fuzzing): persist snapshot failures when fuzzing
  evm/src/executor/backend/fuzz.rs
  evm/src/executor/backend/mod.rs
  evm/src/executor/mod.rs
  testdata/repros/Issue3055.t.sol
Labels: T-bug

#5034 test: use assert_eq for flaky test
  cli/tests/it/script.rs
Labels: L-ignore

#5061 fix(anvil): add missing hardfork variants
  anvil/src/hardfork.rs
Labels: C-anvil

#5067 fix: correct base fee calc
  anvil/src/eth/fees.rs
Labels: T-bug, C-anvil
