Repository foundry-rs/foundry, pull requests merged in 2024-08, with the labels that each got.

#8583 chore: bump compilers 0.10.2
  Cargo.lock
  Cargo.toml
Labels: A-dependencies

#8594 fix(anvil): support overlapping anvil_mine calls
  crates/anvil/src/eth/backend/mem/mod.rs
  crates/anvil/tests/it/api.rs
Labels: T-bug, C-anvil

#8569 feat(cast) tx: pretty print new transaction fields
  crates/common/fmt/src/ui.rs
Labels: T-feature, C-cast

#8561 feat(forge): modify `events` in `forge inspect` to return event signature
  crates/forge/bin/cmd/inspect.rs
Labels: C-forge, Cmd-forge-inspect

#8565 extended JsonResult structure
  crates/script/src/execute.rs
  crates/script/src/lib.rs
Labels: T-feature, Cmd-forge-script

#8570 feat: add `auth` field to `RPCEndpointConfig`
  crates/config/src/endpoints.rs
  crates/config/src/lib.rs
Labels: T-feature, A-config

#8510 feat(`forge verify-bytecode`): support alternative block explorers + predeploys
  crates/forge/bin/cmd/create.rs
  crates/forge/bin/main.rs
  crates/forge/bin/opts.rs
  crates/forge/tests/cli/verify_bytecode.rs
  crates/verify/src/bytecode.rs
  crates/verify/src/etherscan/mod.rs
  crates/verify/src/lib.rs
  crates/verify/src/provider.rs
  crates/verify/src/sourcify.rs
  crates/verify/src/types.rs
  crates/verify/src/utils.rs
  crates/verify/src/verify.rs
Labels: T-feature, C-forge, Cmd-forge-verify

#8706 feat(cast): add `cast hash-message`
  crates/cast/bin/main.rs
  crates/cast/bin/opts.rs
  crates/cast/tests/cli/main.rs
Labels: T-feature, C-cast

#8760 feat: support mesc
  Cargo.lock
  Cargo.toml
  crates/config/Cargo.toml
  crates/config/src/lib.rs
Labels: T-feature, C-forge, A-config
