Repository foundry-rs/foundry, pull requests merged in 2024-10, with the labels that each got.

#9004 docs: clarify keystore path should point to a filename
  crates/wallets/src/multi_wallet.rs
Labels: T-blocked

#9014 feat: update to Soldeer v0.4.0
  Cargo.lock
  Cargo.toml
  crates/forge/Cargo.toml
  crates/forge/bin/cmd/soldeer.rs
  crates/forge/bin/main.rs
  crates/forge/tests/cli/soldeer.rs
Labels: T-blocked

#8571 feat(cheatcode): `startDebugTraceRecording` and `stopDebugTraceRecording` for ERC4337 testing
  Cargo.lock
  crates/cheatcodes/Cargo.toml
  crates/cheatcodes/assets/cheatcodes.json
  crates/cheatcodes/spec/src/lib.rs
  crates/cheatcodes/spec/src/vm.rs
  crates/cheatcodes/src/evm.rs
  crates/cheatcodes/src/evm/record_debug_step.rs
  crates/cheatcodes/src/inspector.rs
  crates/debugger/Cargo.toml
  crates/debugger/src/tui/context.rs
  crates/debugger/src/tui/draw.rs
  crates/evm/core/src/buffer.rs
  crates/evm/core/src/lib.rs
  testdata/cheats/Vm.sol
  testdata/default/cheats/RecordDebugTrace.t.sol
Labels: T-feature, A-cheatcodes

#7909 feat(forge): add `compiler` subcommand
  .github/workflows/nextest.yml
  Cargo.lock
  Cargo.toml
  crates/forge/bin/cmd/compiler.rs
  crates/forge/bin/cmd/mod.rs
  crates/forge/bin/main.rs
  crates/forge/bin/opts.rs
  crates/forge/tests/cli/compiler.rs
  crates/forge/tests/cli/main.rs
Labels: C-forge, T-blocked
