Repository foundry-rs/foundry, pull requests merged in 2024-01, with the labels that each got.

#6734 fix: dont record step tracing by default
  crates/anvil/src/eth/backend/mem/inspector.rs
Labels: T-bug, C-anvil

#6763 feat: include block env in --dump state
  crates/anvil/src/cmd.rs
  crates/anvil/src/config.rs
  crates/anvil/src/eth/api.rs
  crates/anvil/src/eth/backend/db.rs
  crates/anvil/src/eth/backend/mem/fork_db.rs
  crates/anvil/src/eth/backend/mem/in_memory_db.rs
  crates/anvil/src/eth/backend/mem/mod.rs
  crates/anvil/tests/it/main.rs
  crates/anvil/tests/it/state.rs
Labels: C-anvil

#6805 fix: handle all payload errors
  Cargo.lock
  crates/anvil/src/eth/backend/fork.rs
  crates/common/src/provider/tower.rs
Labels: T-bug

#6804 feat: stop using console2
  crates/forge/assets/CounterTemplate.s.sol
  crates/forge/assets/CounterTemplate.t.sol
  crates/forge/assets/generated/TestTemplate.t.sol
Labels: T-debt

#6824 refactor: replace internal `CallKind`
  Cargo.lock
  crates/debugger/Cargo.toml
  crates/debugger/src/tui/context.rs
  crates/debugger/src/tui/draw.rs
  crates/evm/core/Cargo.toml
  crates/evm/core/src/debug.rs
  crates/evm/core/src/utils.rs
  crates/evm/evm/Cargo.toml
  crates/evm/evm/src/inspectors/debugger.rs
  crates/forge/Cargo.toml
  crates/forge/bin/cmd/script/transaction.rs
Labels: T-debt

#6748 refactor(chisel): remove 'errored', make session_source non-optional
  Cargo.lock
  crates/chisel/Cargo.toml
  crates/chisel/bin/main.rs
  crates/chisel/src/dispatcher.rs
  crates/chisel/src/session.rs
  crates/chisel/tests/cache.rs
Labels: C-chisel

#6823 chore(evm): rm more etherses
  Cargo.lock
  Cargo.toml
  crates/anvil/src/eth/backend/mem/mod.rs
  crates/evm/core/Cargo.toml
  crates/evm/core/src/fork/multi.rs
  crates/evm/core/src/utils.rs
  crates/evm/evm/Cargo.toml
  crates/evm/evm/src/executors/invariant/error.rs
Labels: T-debt

#6886 fix: fix off by one debugger draw
  crates/debugger/src/tui/draw.rs
Labels: A-debugger

#6891 native string utils cheatcodes
  crates/cheatcodes/assets/cheatcodes.json
  crates/cheatcodes/spec/src/vm.rs
  crates/cheatcodes/src/string.rs
  testdata/cheats/StringUtils.t.sol
  testdata/cheats/Vm.sol
Labels: A-cheatcodes

#6934 fix: estimate gas if missing for eth_sendTransaction
  crates/anvil/core/src/eth/transaction/mod.rs
  crates/anvil/src/eth/api.rs
  crates/anvil/src/eth/backend/executor.rs
  crates/anvil/tests/it/transaction.rs
Labels: C-anvil
