Repository foundry-rs/foundry, pull requests merged in 2024-09, with the labels that each got.

#8791 fix(eip7702): small fixes
  crates/anvil/src/eth/error.rs
  crates/cast/bin/cmd/access_list.rs
  crates/cast/bin/cmd/call.rs
  crates/cast/bin/cmd/estimate.rs
  crates/cast/bin/cmd/mktx.rs
  crates/cast/bin/cmd/send.rs
  crates/cast/bin/tx.rs
Labels: T-feature

#8796 chore: fix rustc lint elided_named_lifetimes
  Cargo.lock
  crates/common/src/ens.rs
  crates/config/src/lib.rs
  crates/doc/src/preprocessor/infer_hyperlinks.rs
  crates/forge/src/multi_runner.rs
Labels: D-chore

#8815 fix: ignore nonce in call evm env
  crates/anvil/src/eth/backend/mem/mod.rs
Labels: C-anvil

#8216 Fix truncated hex in anvil dump_state
  crates/anvil/src/eth/backend/db.rs
  crates/anvil/src/eth/backend/genesis.rs
  crates/anvil/src/eth/backend/mem/fork_db.rs
  crates/anvil/src/eth/backend/mem/in_memory_db.rs
  crates/anvil/src/eth/backend/mem/mod.rs
Labels: T-bug, C-anvil
