Repository foundry-rs/foundry, pull requests merged in 2024-06, with the labels that each got.

#7161 feat(forge): [ALPHA] add soldeer as an optional package manager.
  Cargo.lock
  Cargo.toml
  crates/config/src/lib.rs
  crates/config/src/soldeer.rs
  crates/forge/Cargo.toml
  crates/forge/bin/cmd/mod.rs
  crates/forge/bin/cmd/soldeer.rs
  crates/forge/bin/main.rs
  crates/forge/bin/opts.rs
  crates/forge/tests/cli/config.rs
  crates/forge/tests/cli/main.rs
  crates/forge/tests/cli/soldeer.rs
  crates/forge/tests/it/fork.rs
  crates/test-utils/src/macros.rs
  deny.toml
Labels: T-feature, C-forge

#8111 fix: bypass block gas limit if disabled
  crates/anvil/src/eth/backend/executor.rs
  crates/anvil/tests/it/transaction.rs
Labels: T-bug

#8155 fix: Soldeer: Fixed the url bug, it should be optional
  crates/config/src/soldeer.rs
Labels: T-bug

#8187 pick a random value for prevrandao for each block
  crates/anvil/src/eth/backend/mem/mod.rs
Labels: C-anvil

#8221 fix: use delay tick behaviour
  crates/anvil/src/eth/miner.rs
Labels: T-bug

#8226 chore(evm): use u64 for gas limit
  crates/evm/core/src/opts.rs
  crates/evm/evm/src/executors/builder.rs
  crates/evm/evm/src/executors/mod.rs
Labels: A-evm

#6884 fix: `trace_debugTransaction` is inconsistent with geth's responses for tracer 'callTracer'
  crates/anvil/src/eth/backend/mem/mod.rs
  crates/anvil/src/eth/backend/mem/storage.rs
  crates/evm/traces/src/lib.rs
Labels: C-anvil

#8299 fix: forkchoice match checks
  crates/anvil/src/cmd.rs
Labels: T-bug
