Repository foundry-rs/foundry, pull requests merged in 2025-07, with the labels that each got.

#10927 feat: add mesc chainid lookup
  crates/config/src/lib.rs
Labels: A-config

#10948 fix(cast call/estimate/send): omit function selector from arguments on create calls
  crates/cast/tests/cli/main.rs
  crates/cli/src/utils/abi.rs
  crates/common/src/abi.rs
Labels: T-bug, C-cast

#10969 chore: remove unused import in Counter template
  crates/forge/assets/CounterTemplate.s.sol
  crates/forge/assets/CounterTemplate.t.sol
Labels: L-ignore

#10976 fix(ci): ignore scroll test
  crates/forge/tests/cli/test_cmd.rs
Labels: L-ignore

#10983 chore: clippy fix
  crates/anvil/src/eth/backend/mem/mod.rs
Labels: L-ignore

#11008 feat(`revm bump`): add serialization method that serializes as `u64` if fits or `U256` if not
  crates/config/src/lib.rs
  crates/config/src/utils.rs
  crates/evm/core/src/opts.rs
  crates/forge/tests/cli/config.rs
Labels: L-ignore

#11026 chore: return reorged blocks
  crates/anvil/src/eth/backend/mem/storage.rs
Labels: C-anvil

#11040 chore: centralize and reduce number of spawned tokio runtimes
  Cargo.lock
  crates/anvil/src/args.rs
  crates/cast/src/args.rs
  crates/chisel/Cargo.toml
  crates/chisel/src/args.rs
  crates/cli/src/opts/global.rs
  crates/cli/src/utils/mod.rs
  crates/evm/core/src/fork/multi.rs
  crates/evm/traces/src/identifier/signatures.rs
  crates/forge/src/args.rs
Labels: C-forge

#11076 fix: avoid reloading files to pcx
  crates/lint/src/linter/mod.rs
  crates/lint/src/sol/mod.rs
Labels: Cmd-forge-lint

#11123 chore(deps): update dependencies including fixes for incompatible versions
  Cargo.lock
  Cargo.toml
  crates/cheatcodes/spec/Cargo.toml
  crates/chisel/Cargo.toml
  crates/config/Cargo.toml
  crates/debugger/Cargo.toml
  crates/forge/Cargo.toml
  crates/test-utils/Cargo.toml
  crates/test-utils/src/ui_runner.rs
Labels: L-ignore
