Repository foundry-rs/foundry, pull requests merged in 2025-02, with the labels that each got.

#9810 chore: replace maili with op-alloy
  Cargo.lock
  Cargo.toml
  crates/anvil/Cargo.toml
  crates/anvil/core/Cargo.toml
  crates/anvil/core/src/eth/transaction/mod.rs
  crates/anvil/core/src/eth/transaction/optimism.rs
  crates/anvil/src/eth/backend/mem/mod.rs
  crates/anvil/src/eth/sign.rs
Labels: L-ignore

#9798 chore(deps): bump alloy 0.11
  Cargo.lock
  Cargo.toml
  crates/anvil/core/src/eth/transaction/mod.rs
  crates/anvil/src/config.rs
  crates/anvil/src/eth/api.rs
  crates/anvil/src/eth/backend/mem/mod.rs
  crates/anvil/src/tasks/mod.rs
  crates/anvil/tests/it/utils.rs
  crates/cast/bin/cmd/send.rs
  crates/cast/bin/cmd/storage.rs
  crates/cast/bin/tx.rs
  crates/cast/src/lib.rs
  crates/cast/tests/cli/main.rs
  crates/cli/Cargo.toml
  crates/cli/src/utils/abi.rs
  crates/cli/src/utils/mod.rs
  crates/common/fmt/src/ui.rs
  crates/common/src/ens.rs
  crates/common/src/provider/mod.rs
  crates/common/src/provider/runtime_transport.rs
  crates/common/src/transactions.rs
  crates/evm/core/Cargo.toml
  crates/evm/core/src/fork/init.rs
  crates/evm/core/src/fork/multi.rs
  crates/forge/bin/cmd/create.rs
  crates/forge/tests/cli/config.rs
  crates/forge/tests/cli/odyssey.rs
  crates/forge/tests/cli/script.rs
  crates/forge/tests/cli/test_cmd.rs
  crates/forge/tests/fixtures/colored_traces.svg
  crates/script/Cargo.toml
  crates/script/src/broadcast.rs
  crates/test-utils/src/lib.rs
  crates/test-utils/src/util.rs
  crates/wallets/Cargo.toml
Labels: L-ignore

#9812 test: misc test improvements
  Cargo.toml
  crates/anvil/src/eth/backend/mem/cache.rs
  crates/anvil/src/eth/backend/mem/storage.rs
  crates/anvil/tests/it/main.rs
  crates/cast/bin/main.rs
  crates/cast/tests/cli/main.rs
  crates/cast/tests/cli/selectors.rs
  crates/chisel/bin/main.rs
  crates/common/src/provider/runtime_transport.rs
  crates/common/src/selectors.rs
  crates/evm/core/src/backend/mod.rs
  crates/evm/core/src/fork/database.rs
  crates/evm/traces/src/identifier/signatures.rs
  crates/forge/bin/cmd/clone.rs
  crates/forge/bin/cmd/doc/server.rs
  crates/forge/bin/cmd/soldeer.rs
  crates/forge/bin/cmd/test/mod.rs
  crates/forge/tests/cli/cmd.rs
  crates/forge/tests/cli/test_cmd.rs
  crates/forge/tests/it/main.rs
  crates/test-utils/src/rpc.rs
  crates/verify/src/etherscan/mod.rs
  crates/wallets/src/wallet.rs
Labels: L-ignore

#9814 chore: tweak coverage warnings
  crates/config/src/lib.rs
  crates/forge/bin/cmd/bind_json.rs
  crates/forge/bin/cmd/coverage.rs
  crates/forge/bin/cmd/eip712.rs
  crates/forge/bin/cmd/flatten.rs
  crates/forge/tests/cli/coverage.rs
Labels: L-ignore

#9811 chore: update ext integration tests
  crates/forge/tests/cli/ext_integration.rs
Labels: L-ignore

#9816 feat(invariant): on failures show original and current sequence len
  crates/evm/fuzz/src/lib.rs
  crates/forge/src/result.rs
  crates/forge/src/runner.rs
  crates/forge/tests/it/invariant.rs
Labels: T-feature, C-forge

#9794 fix(cast): try decoding custom errors when execution reverted in cast send
  crates/cast/bin/tx.rs
  crates/cast/tests/cli/main.rs
Labels: T-bug, C-cast

#9826 chore: fix base gas limit test
  crates/anvil/tests/it/fork.rs
Labels: L-ignore

#9827 feat(invariant): generate failed call sequence as solidity
  crates/config/src/invariant.rs
  crates/evm/evm/src/executors/invariant/replay.rs
  crates/evm/fuzz/src/lib.rs
  crates/forge/src/result.rs
  crates/forge/src/runner.rs
  crates/forge/tests/cli/config.rs
  crates/forge/tests/it/invariant.rs
  crates/forge/tests/it/test_helpers.rs
Labels: T-feature, C-forge

#9838 feat(`forge fmt`): add watch mode
  crates/forge/bin/cmd/fmt.rs
  crates/forge/bin/cmd/watch.rs
  crates/forge/bin/main.rs
Labels: T-feature, C-forge

#9861 feat: add `--alloy-rev` and fix `forge bind` re-run on built project
  crates/forge/bin/cmd/bind.rs
  crates/sol-macro-gen/src/sol_macro_gen.rs
Labels: C-forge, T-likely-breaking

#9866 chore(deps): bump alloy to `0.11.1`
  Cargo.lock
  Cargo.toml
Labels: L-ignore

#9869 chore: fix release flow
  .github/workflows/release.yml
Labels: L-ignore

#9870 fix: pin to `macos-13-large` for release flow to support old SDK versions
  .github/workflows/release.yml
Labels: L-ignore

#9877 chore: fix isolate tests
  crates/forge/tests/cli/test_cmd.rs
Labels: L-ignore

#9884 feat(`forge`): don't commit installations by default
  Cargo.lock
  crates/cast/tests/cli/main.rs
  crates/cli/src/utils/mod.rs
  crates/forge/bin/cmd/clone.rs
  crates/forge/bin/cmd/init.rs
  crates/forge/bin/cmd/install.rs
  crates/forge/tests/cli/cmd.rs
  crates/forge/tests/cli/config.rs
Labels: C-forge, T-likely-breaking

#9889 chore: fix flaky tests due to different totalDifficulty reported
  crates/cast/tests/cli/main.rs
Labels: L-ignore

#9825 fix(inspect): add flag to strip ir comments
  crates/forge/bin/cmd/inspect.rs
  crates/forge/tests/cli/cmd.rs
Labels: T-bug, C-forge

#9892 fix(forge): flatten fails on top-level event declarations
  Cargo.lock
  Cargo.toml
Labels: T-bug, C-forge

#9890 feat(`anvil`): emit warning server side on failing request
  crates/anvil/src/eth/api.rs
Labels: T-feature, C-anvil

#9904 fix: add support for inline `isolate` configuration
  crates/forge/src/multi_runner.rs
  crates/forge/tests/cli/inline_config.rs
Labels: T-bug, A-config

#9901 fix(config): enable optimizer if optimizer runs > 0 in additional profiles
  crates/config/src/compilation.rs
  crates/forge/tests/cli/config.rs
Labels: T-bug, C-forge

#9910 chore: update rpc keys
  crates/test-utils/src/rpc.rs
Labels: L-ignore

#9909 fix(`forge`): catch faulty test constructors
  crates/forge/src/result.rs
  crates/forge/src/runner.rs
  crates/forge/tests/cli/test_cmd.rs
Labels: T-bug, C-forge

#9875 feat(cheatcodes): add `expectCreate` and `expectCreate2`
  crates/cheatcodes/assets/cheatcodes.json
  crates/cheatcodes/spec/src/vm.rs
  crates/cheatcodes/src/inspector.rs
  crates/cheatcodes/src/test/expect.rs
  crates/forge/tests/cli/failure_assertions.rs
  crates/forge/tests/fixtures/ExpectCreateFailures.t.sol
  testdata/cheats/Vm.sol
  testdata/default/cheats/ExpectCreate.t.sol
Labels: T-feature, C-forge

#9927 chore(`cast`): add `4byte-calldata` alias
  crates/cast/bin/args.rs
  crates/cast/bin/main.rs
  crates/cast/tests/cli/selectors.rs
Labels: C-cast, T-chore

#9729 fix(anvil): reset cache path during anvil_reset without fork url
  Cargo.toml
  crates/anvil/src/eth/backend/mem/mod.rs
  crates/anvil/tests/it/fork.rs
Labels: T-bug, C-anvil

#9946 feat: add option to store keystore file with custom account name
  crates/cast/bin/cmd/wallet/mod.rs
  crates/cast/tests/cli/main.rs
Labels: T-feature, C-cast

#9962 fix(`forge`): `forge build --sizes` collapses non uniques
  crates/common/src/compile.rs
  crates/forge/tests/cli/build.rs
Labels: T-bug, C-forge

#9979 fix(script): apply configured evm-version for verify args
  crates/script/src/verify.rs
  crates/verify/src/verify.rs
Labels: T-bug, C-forge

#9923 test(doc): added test case for doc comments & natspec
  crates/doc/src/parser/mod.rs
Labels: C-forge, Cmd-forge-doc
