Repository foundry-rs/foundry, pull requests merged in 2025-06, with the labels that each got.

#10686 chore(`Makefile`): add .PHONY, fix help formatting
  Makefile
Labels: L-ignore

#10691 chore: fix flaky test, bump timeout max rejects, use http provider
  crates/anvil/tests/it/anvil_api.rs
  crates/forge/tests/it/fuzz.rs
  testdata/default/repros/Issue10527.t.sol
Labels: L-ignore

#10707 fix: always update auth txenv var
  crates/evm/core/src/utils.rs
Labels: T-bug, C-cast

#10712 chore: bump version 1.2.3
  Cargo.lock
  Cargo.toml
Labels: L-ignore

#10711 feat(script): keep script / tx timestamp as milis instead seconds
  crates/script-sequence/src/sequence.rs
  crates/script/src/multi_sequence.rs
  crates/script/src/simulate.rs
Labels: T-likely-breaking

#10623 fix: eip7702 cheatcodes multiple auth
  crates/cheatcodes/src/inspector.rs
  crates/cheatcodes/src/script.rs
  crates/forge/tests/cli/script.rs
  crates/forge/tests/cli/test_cmd.rs
  testdata/default/cheats/AttachDelegation.t.sol
Labels: T-bug, C-forge

#10716 fix(anvil): guard against the blockchain advancing while checking latest block (backport to v1.2.3)
  crates/anvil/src/eth/backend/mem/mod.rs
Labels: T-bug, C-anvil

#10749 refactor: unify ERC20 storage slot discovery logic
  crates/anvil/src/eth/api.rs
Labels: C-anvil

#10764 chore: add hash to eip-712 cmd
  crates/forge/src/cmd/eip712.rs
  crates/forge/tests/cli/eip712.rs
Labels: C-forge

#10786 bug(anvil): incorrectly adds +1 gas when estimating transactions with explicit empty data field
  crates/anvil/src/eth/api.rs
  crates/anvil/tests/it/gas.rs
Labels: T-bug, C-anvil

#10808 chore: bump vyper 0.4.3 and remove previous `prague` handling
  .devcontainer/Dockerfile.dev
  .github/workflows/nextest.yml
  crates/config/src/lib.rs
  crates/config/src/vyper.rs
  crates/forge/src/cmd/compiler.rs
  crates/forge/tests/cli/compiler.rs
  crates/forge/tests/cli/ext_integration.rs
  crates/forge/tests/it/test_helpers.rs
  crates/test-utils/src/util.rs
Labels: A-compatibility

#10813 chore: fix failing test
  crates/cast/tests/cli/main.rs
Labels: L-ignore

#10815 chore: unpin `rustfmt` nightly
  .github/workflows/test.yml
Labels: L-ignore

#10816 chore: use native alloy functions for otterscan helpers
  crates/anvil/src/eth/otterscan/api.rs
Labels: C-anvil

#10811 chore: update external integration tests
  crates/forge/tests/cli/ext_integration.rs
Labels: L-ignore

#10772 test(cast): add tests for EIP-712 type names with colons
  Cargo.lock
  Cargo.toml
  crates/cast/tests/cli/main.rs
Labels: C-cast

#10721 fix: Respect `--override-*` flags on `cast call` with `--trace` flag
  Cargo.lock
  crates/cast/src/cmd/call.rs
  crates/cast/src/cmd/run.rs
  crates/cast/tests/cli/main.rs
  crates/evm/evm/Cargo.toml
  crates/evm/evm/src/executors/mod.rs
  crates/evm/evm/src/executors/trace.rs
  crates/verify/src/utils.rs
Labels: C-cast

#10888 Add more unit tests to `cast call`
  crates/cast/src/cmd/call.rs
Labels: C-cast
