Repository foundry-rs/foundry, pull requests merged in 2025-05, with the labels that each got.

#10397 feat(cast): Add file option for calldata input
  crates/cast/src/args.rs
  crates/cast/src/opts.rs
Labels: T-feature, C-cast

#10439 chore: update flaky immutable forked test
  crates/anvil/tests/it/fork.rs
Labels: L-ignore

#10440 feat: Etherscan V2 support
  Cargo.lock
  Cargo.toml
  crates/anvil/tests/it/fork.rs
  crates/cast/src/cmd/artifact.rs
  crates/cast/src/cmd/constructor_args.rs
  crates/cast/src/cmd/creation_code.rs
  crates/cast/src/cmd/interface.rs
  crates/cast/src/cmd/run.rs
  crates/cast/src/cmd/storage.rs
  crates/cast/src/tx.rs
  crates/cast/tests/cli/main.rs
  crates/cli/Cargo.toml
  crates/cli/src/opts/rpc.rs
  crates/cli/src/utils/abi.rs
  crates/common/src/abi.rs
  crates/config/src/etherscan.rs
  crates/config/src/lib.rs
  crates/forge/src/cmd/clone.rs
  crates/forge/src/cmd/create.rs
  crates/forge/src/cmd/test/mod.rs
  crates/forge/tests/cli/cmd.rs
  crates/forge/tests/cli/config.rs
  crates/forge/tests/cli/verify_bytecode.rs
  crates/script/Cargo.toml
  crates/script/src/lib.rs
  crates/test-utils/src/rpc.rs
  crates/verify/src/bytecode.rs
  crates/verify/src/etherscan/mod.rs
  crates/verify/src/verify.rs
Labels: T-feature, C-forge

#10467 fix: add check for conflicting create
  crates/cast/src/cmd/send.rs
  crates/cast/tests/cli/main.rs
Labels: T-bug, C-cast

#10468 test(`cast`): add and enable negative octal formatting test
  crates/cast/src/base.rs
Labels: C-cast

#10471 perf: spawn mining on blocking
  crates/anvil/src/eth/api.rs
Labels: T-bug, C-anvil

#10481 fix(forge): Set empty code if the 7702 delegation address is 0x
  crates/cheatcodes/src/script.rs
  crates/forge/tests/it/repros.rs
  testdata/default/repros/Issue10477.t.sol
Labels: T-bug, C-forge

#10464 fix(forge): fix nonce for tx with 7702 auth
  crates/cheatcodes/src/inspector.rs
  crates/cheatcodes/src/script.rs
  crates/forge/tests/cli/script.rs
  crates/forge/tests/cli/test_cmd.rs
  testdata/default/cheats/AttachDelegation.t.sol
Labels: T-bug, C-forge, Cmd-forge-script

#10503 fix(anvil): use saturating_to when check for req funds
  crates/anvil/src/eth/backend/mem/mod.rs
Labels: T-bug, C-anvil

#10502 chore: prepare v1.2 release
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Labels: L-ignore

#10498 fix(forge): support preproc with try contract creation
  crates/common/src/preprocessor/deps.rs
  crates/forge/tests/cli/test_optimizer.rs
Labels: T-bug, C-forge

#10504 feat: add 7702 support to eth-sendtransaction
  crates/anvil/core/src/eth/transaction/mod.rs
  crates/anvil/src/eth/api.rs
  crates/anvil/src/eth/sign.rs
  crates/anvil/tests/it/eip7702.rs
Labels: T-feature, C-anvil

#10499 chore: remove `Eof::decode` usage
  crates/cast/src/args.rs
  crates/cast/src/lib.rs
  crates/cast/src/opts.rs
  crates/common/fmt/src/eof.rs
  crates/common/fmt/src/lib.rs
  crates/forge/src/cmd/inspect.rs
  crates/forge/tests/cli/eof.rs
Labels: T-likely-breaking

#10532 fix(forge): mark prank applied on contract creation too
  crates/cheatcodes/src/inspector.rs
  testdata/default/cheats/Prank.t.sol
Labels: T-bug, C-forge

#10534 fix(forge): do not revert if event with count 0 not emitted
  crates/cheatcodes/src/inspector.rs
  crates/forge/tests/it/repros.rs
  testdata/default/repros/Issue10527.t.sol
Labels: T-bug, C-forge

#10546 fix(forge): vm.cool mark cold instead storage cleaning
  crates/cheatcodes/src/evm.rs
  crates/forge/tests/cli/test_cmd.rs
Labels: T-bug, C-forge

#10558 Backport fmt fixes to 1.2.0
  Cargo.lock
  Cargo.toml
  crates/fmt/src/formatter.rs
  crates/fmt/src/solang_ext/ast_eq.rs
  crates/fmt/src/solang_ext/loc.rs
  crates/fmt/src/solang_ext/mod.rs
  crates/fmt/src/visit.rs
  crates/fmt/testdata/NonKeywords/fmt.sol
  crates/fmt/testdata/NonKeywords/original.sol
  crates/fmt/testdata/VariableDefinition/fmt.sol
  crates/fmt/testdata/VariableDefinition/original.sol
  crates/fmt/testdata/VariableDefinition/override-spacing.fmt.sol
  crates/fmt/tests/formatter.rs
  crates/forge/src/cmd/fmt.rs
Labels: T-bug, C-forge

#10486 chore: add `redundant_imports` rust lint
  Cargo.toml
  crates/anvil/src/cmd.rs
  crates/anvil/src/eth/backend/mem/storage.rs
  crates/cheatcodes/spec/src/vm.rs
  crates/cheatcodes/src/inspector.rs
  crates/config/src/lib.rs
  crates/forge/src/multi_runner.rs
Labels: L-ignore

#10506 chore: remove additional `EOF` leftovers
  Cargo.lock
  crates/anvil/src/config.rs
  crates/anvil/src/eth/api.rs
  crates/anvil/src/eth/backend/mem/inspector.rs
  crates/anvil/src/hardfork.rs
  crates/cast/tests/cli/main.rs
  crates/cheatcodes/src/inspector.rs
  crates/cli/src/opts/build/core.rs
  crates/common/fmt/Cargo.toml
  crates/common/fmt/src/eof.rs
  crates/config/src/lib.rs
  crates/forge/tests/cli/config.rs
  crates/forge/tests/cli/eof.rs
  crates/forge/tests/cli/main.rs
  crates/forge/tests/cli/script.rs
Labels: T-likely-breaking

#10578 chore: avoid unnecessary use of `inspector_mut`, `precompiles_mut` in precompile injection
  Cargo.lock
  Cargo.toml
  crates/anvil/src/evm.rs
  crates/evm/core/src/either_evm.rs
  crates/evm/core/src/evm.rs
Labels: L-ignore

#10580 chore: bump version to 1.2.1
  Cargo.lock
  Cargo.toml
Labels: L-ignore

#10446 feat(forge): revert diagnostic inspector
  crates/evm/evm/src/inspectors/mod.rs
  crates/evm/evm/src/inspectors/revert_diagnostic.rs
  crates/evm/evm/src/inspectors/stack.rs
  crates/evm/traces/src/decoder/mod.rs
  crates/forge/tests/cli/test_cmd.rs
Labels: T-feature, C-forge

#10588 feat: add cast da-estimate
  Cargo.lock
  Cargo.toml
  crates/cast/Cargo.toml
  crates/cast/src/args.rs
  crates/cast/src/cmd/da_estimate.rs
  crates/cast/src/cmd/mod.rs
  crates/cast/src/opts.rs
  crates/cast/tests/cli/main.rs
Labels: T-feature, C-cast

#10592 ci: use Optimism mainnet instead of DRPC due to limits
  crates/test-utils/src/rpc.rs
Labels: L-ignore

#10589 fix: `vm.chainId` regression in isolation mode on `nightly` post `revm` bump
  crates/evm/evm/src/inspectors/stack.rs
  crates/forge/tests/it/repros.rs
  testdata/default/cheats/ChainId.t.sol
  testdata/default/repros/Issue10586.t.sol
Labels: T-bug, C-forge

#10405 feat(forge): forge lint
  .gitattributes
  Cargo.lock
  Cargo.toml
  crates/anvil/core/src/eth/transaction/mod.rs
  crates/config/Cargo.toml
  crates/config/src/lib.rs
  crates/config/src/lint.rs
  crates/forge/Cargo.toml
  crates/forge/src/args.rs
  crates/forge/src/cmd/lint.rs
  crates/forge/src/cmd/mod.rs
  crates/forge/src/opts.rs
  crates/forge/tests/cli/config.rs
  crates/forge/tests/cli/lint.rs
  crates/forge/tests/cli/main.rs
  crates/forge/tests/ui.rs
  crates/lint/Cargo.toml
  crates/lint/README.md
  crates/lint/src/lib.rs
  crates/lint/src/linter.rs
  crates/lint/src/sol/gas/keccak.rs
  crates/lint/src/sol/gas/mod.rs
  crates/lint/src/sol/high/incorrect_shift.rs
  crates/lint/src/sol/high/mod.rs
  crates/lint/src/sol/info/mixed_case.rs
  crates/lint/src/sol/info/mod.rs
  crates/lint/src/sol/info/pascal_case.rs
  crates/lint/src/sol/info/screaming_snake_case.rs
  crates/lint/src/sol/macros.rs
  crates/lint/src/sol/med/div_mul.rs
  crates/lint/src/sol/med/mod.rs
  crates/lint/src/sol/mod.rs
  crates/lint/testdata/DivideBeforeMultiply.sol
  crates/lint/testdata/DivideBeforeMultiply.stderr
  crates/lint/testdata/IncorrectShift.sol
  crates/lint/testdata/IncorrectShift.stderr
  crates/lint/testdata/Keccak256.sol
  crates/lint/testdata/Keccak256.stderr
  crates/lint/testdata/MixedCase.sol
  crates/lint/testdata/MixedCase.stderr
  crates/lint/testdata/ScreamingSnakeCase.sol
  crates/lint/testdata/ScreamingSnakeCase.stderr
  crates/lint/testdata/StructPascalCase.sol
  crates/lint/testdata/StructPascalCase.stderr
  crates/test-utils/Cargo.toml
  crates/test-utils/src/lib.rs
  crates/test-utils/src/ui_runner.rs
  docs/dev/lintrules.md
Labels: T-feature, C-forge

#10598 chore: remove ui_test patch
  crates/test-utils/Cargo.toml
Labels: L-ignore

#10614 fix: make sign and verify symmetrical
  crates/cast/src/cmd/wallet/mod.rs
  crates/cast/tests/cli/main.rs
Labels: C-cast

#10602 chore: clean up Makefile and update contribution guide
  CONTRIBUTING.md
  Makefile
Labels: L-ignore

#10619 fix: check for auth when deriving legacy
  crates/cast/src/tx.rs
Labels: T-bug, C-cast

#10622 fix(bindings): ensure forge bind generates snake_case file names
  Cargo.lock
  crates/sol-macro-gen/Cargo.toml
  crates/sol-macro-gen/src/sol_macro_gen.rs
Labels: C-forge, T-likely-breaking

#10641 feat(cast mktx): add support for "--ethsign" option
  crates/cast/src/cmd/mktx.rs
  crates/cast/tests/cli/main.rs
Labels: T-feature, C-cast

#10570 feat(forge): cheatcode eip712
  Cargo.lock
  Cargo.toml
  crates/anvil/core/src/eth/mod.rs
  crates/cheatcodes/assets/cheatcodes.json
  crates/cheatcodes/spec/src/vm.rs
  crates/cheatcodes/src/config.rs
  crates/cheatcodes/src/utils.rs
  crates/common/src/constants.rs
  crates/forge/src/cmd/bind_json.rs
  crates/forge/src/cmd/compiler.rs
  crates/forge/tests/cli/test_cmd.rs
  testdata/cheats/Vm.sol
Labels: A-cheatcodes

#10668 chore: bump version to 1.2.2
  Cargo.lock
  Cargo.toml
Labels: L-ignore
