Repository foundry-rs/foundry, pull requests merged in 2025-08, with the labels that each got.

#11199 Bump version 1.3.1
  Cargo.lock
  Cargo.toml
Labels: L-ignore

#11253 fix(anvil): print traces for `eth_simulateV1`
  crates/anvil/src/eth/backend/mem/inspector.rs
  crates/anvil/src/eth/backend/mem/mod.rs
Labels: T-bug

#11204 feat(`invariants`): sample typed storage values
  crates/common/src/contracts.rs
  crates/evm/evm/src/executors/invariant/mod.rs
  crates/evm/fuzz/src/invariant/mod.rs
  crates/evm/fuzz/src/strategies/state.rs
  crates/forge/src/multi_runner.rs
Labels: A-testing, C-forge

#8972 feat: accept ETH_RPC_URL env as fork-url alias
  .github/workflows/nextest.yml
  crates/anvil/src/cmd.rs
  crates/common/src/evm.rs
Labels: C-forge, T-likely-breaking

#11214 feat(`cheatcodes`): add contract identifier to state diffs
  crates/cheatcodes/src/evm.rs
  testdata/default/cheats/RecordAccountAccesses.t.sol
  testdata/default/repros/Issue9643.t.sol
Labels: C-forge, A-cheatcodes, T-likely-breaking

#11296 feat(`cheatcodes`): getStorageAccesses
  crates/cheatcodes/assets/cheatcodes.json
  crates/cheatcodes/spec/src/vm.rs
  crates/cheatcodes/src/evm.rs
  testdata/cheats/Vm.sol
  testdata/default/cheats/RecordAccountAccesses.t.sol
Labels: A-cheatcodes

#11338 chore(benches): use std instead num_cpu
  Cargo.lock
  benches/Cargo.toml
  benches/src/results.rs
Labels: L-ignore

#11276 feat(`cheatcodes`): include slot type and decode values in state diffs
  crates/cheatcodes/src/evm.rs
  crates/forge/tests/it/cheats.rs
  testdata/default/cheats/StateDiffStorageLayout.t.sol
Labels: C-forge, A-cheatcodes, T-likely-breaking

#11355 fix: force 4844 txtype in blobhashes setter
  crates/cheatcodes/src/evm.rs
  crates/forge/tests/it/repros.rs
  testdata/default/repros/Issue11353.t.sol
Labels: T-bug, C-forge

#11361 chore: fix clippy
  crates/common/src/contracts.rs
Labels: L-ignore

#11340 feat(config): support numeric keys in `[fork.<chain>]` section
  crates/cheatcodes/src/fork.rs
  crates/config/src/fork_config.rs
  crates/config/src/lib.rs
  crates/forge/tests/cli/script.rs
Labels: C-forge, A-cheatcodes

#11405 chore(docs): mention keystore in wallet error message, improve readability
  crates/wallets/src/wallet.rs
Labels: A-docs

#11401 fix(`forge`): sync branch with remote on update
  crates/cli/src/utils/mod.rs
  crates/forge/src/cmd/update.rs
  crates/forge/tests/cli/install.rs
Labels: T-bug, C-forge, Cmd-forge-pm

#11381 feat(cheatcodes): decode mappings in state diffs
  crates/cheatcodes/src/evm.rs
  crates/cheatcodes/src/evm/mapping.rs
  crates/cheatcodes/src/inspector.rs
  crates/common/src/lib.rs
  crates/common/src/mapping_slots.rs
  crates/common/src/slot_identifier.rs
  testdata/default/cheats/StateDiffMappings.t.sol
  testdata/default/cheats/StateDiffStructTest.t.sol
Labels: C-forge, A-cheatcodes

#11404 fix(`cheatcodes`): identify common proxies in state diffs
  crates/cheatcodes/src/evm.rs
Labels: T-bug, C-forge, A-cheatcodes

#11415 fix(anvil): deterministic block production
  crates/anvil/src/eth/backend/mem/mod.rs
Labels: C-anvil, T-likely-breaking

#11383 feat(`forge`): add `--vyper` to `forge init` to start with a Vyper project
  crates/forge/assets/solidity/CounterTemplate.s.sol
  crates/forge/assets/solidity/CounterTemplate.sol
  crates/forge/assets/solidity/CounterTemplate.t.sol
  crates/forge/assets/solidity/workflowTemplate.yml
  crates/forge/assets/vyper/CounterTemplate.s.sol
  crates/forge/assets/vyper/CounterTemplate.t.sol
  crates/forge/assets/vyper/CounterTemplate.vy
  crates/forge/assets/vyper/ICounterTemplate.sol
  crates/forge/assets/vyper/workflowTemplate.yml
  crates/forge/src/cmd/init.rs
  crates/forge/tests/cli/cmd.rs
Labels: C-forge, Cmd-forge-init

#9201 feat(cast): wallet new - enable default keystore
  Cargo.lock
  crates/cast/Cargo.toml
  crates/cast/src/cmd/wallet/mod.rs
  crates/cast/tests/cli/main.rs
Labels: C-cast

#11459 docs: fix merkle rpc url
  README.md
Labels: A-docs

#11491 feat(anvil): support celo transfer precompile
  crates/anvil/src/cmd.rs
  crates/anvil/src/config.rs
  crates/anvil/src/eth/backend/env.rs
  crates/anvil/src/eth/backend/executor.rs
  crates/anvil/src/eth/backend/mem/mod.rs
  crates/anvil/src/evm.rs
  crates/anvil/src/evm/celo_precompile.rs
Labels: C-anvil
