Repository foundry-rs/foundry, pull requests merged in 2025-04, with the labels that each got.

#10182 feat: support `signDelegation ` and `signAndAttachDelegation` with nonce
  crates/cheatcodes/assets/cheatcodes.json
  crates/cheatcodes/spec/src/vm.rs
  crates/cheatcodes/src/script.rs
  testdata/cheats/Vm.sol
  testdata/default/cheats/AttachDelegation.t.sol
Labels: T-feature, C-forge

#10144 bug(forge)!: strip "revert: " from vm.expectRevert reason
  crates/cheatcodes/src/test/revert_handlers.rs
  crates/evm/core/src/decode.rs
  crates/forge/tests/cli/failure_assertions.rs
  crates/forge/tests/cli/script.rs
  crates/forge/tests/cli/test_cmd.rs
  crates/forge/tests/it/invariant.rs
  testdata/default/cheats/ExpectRevert.t.sol
Labels: T-bug, C-forge, T-likely-breaking

#10242 add interceptInitcode cheatcode
  crates/cheatcodes/assets/cheatcodes.json
  crates/cheatcodes/spec/src/vm.rs
  crates/cheatcodes/src/inspector.rs
  crates/cheatcodes/src/utils.rs
  crates/forge/tests/cli/test_cmd.rs
  testdata/cheats/Vm.sol
Labels: T-feature, C-forge

#9895 feat(`anvil`): add support for trace logging in Anvil
  Cargo.lock
  crates/anvil/src/cmd.rs
  crates/anvil/src/config.rs
  crates/anvil/src/eth/backend/executor.rs
  crates/anvil/src/eth/backend/mem/inspector.rs
  crates/anvil/src/eth/backend/mem/mod.rs
Labels: T-feature, C-anvil

#10010 feat(forge): optimize compilation through preprocessing and caching
  Cargo.lock
  Cargo.toml
  crates/cheatcodes/src/fs.rs
  crates/cli/src/opts/build/core.rs
  crates/common/Cargo.toml
  crates/common/src/compile.rs
  crates/common/src/lib.rs
  crates/common/src/preprocessor/data.rs
  crates/common/src/preprocessor/deps.rs
  crates/common/src/preprocessor/mod.rs
  crates/config/src/lib.rs
  crates/forge/src/cmd/build.rs
  crates/forge/src/cmd/test/mod.rs
  crates/forge/tests/cli/config.rs
  crates/forge/tests/cli/main.rs
  crates/forge/tests/cli/test_optimizer.rs
  crates/script/src/build.rs
  crates/verify/src/provider.rs
Labels: T-feature, C-forge

#10270 fix(forge): coverage for contracts with ctor with args
  crates/common/src/contracts.rs
  crates/forge/tests/cli/coverage.rs
Labels: T-bug, C-forge

#10274 feat(forge): allow invariant contract address as targetContract
  crates/evm/evm/src/executors/invariant/mod.rs
  crates/forge/tests/it/invariant.rs
Labels: T-feature, C-forge

#10271 fix(forge): trace identify by creation code with stripped args
  crates/evm/traces/src/identifier/local.rs
Labels: T-bug, C-forge

#10304 fix(forge): do not set balance as apparent value in delegate prank
  crates/cheatcodes/src/inspector.rs
  crates/forge/tests/it/repros.rs
  testdata/default/repros/Issue10302.t.sol
Labels: T-bug, C-forge

#10303 chore: release 1.1.0 - update last stable version
  .github/workflows/release.yml
Labels: L-ignore

#10286 fix(docker): build docker aarch64 without jemalloc
  Makefile
Labels: T-bug, A-releases

#10301 fix(forge): ensure selected fork contains init state for persisted accounts
  crates/evm/core/src/backend/mod.rs
  crates/forge/tests/cli/test_cmd.rs
Labels: T-bug, C-forge

#10313 fix(forge): avoid preprocessor constructor args struct name conflict
  crates/common/src/preprocessor/data.rs
  crates/common/src/preprocessor/deps.rs
  crates/forge/tests/cli/test_optimizer.rs
Labels: T-bug, C-forge

#10315 chore: trigger releases on rc-* tags too
  .github/workflows/release.yml
Labels: L-ignore

#10327 fix: force install default crypto provider
  Cargo.lock
  Cargo.toml
  crates/anvil/src/args.rs
  crates/cast/Cargo.toml
  crates/cast/src/args.rs
  crates/chisel/src/args.rs
  crates/cli/Cargo.toml
  crates/cli/src/utils/mod.rs
  crates/forge/src/args.rs
  crates/forge/tests/it/test_helpers.rs
  crates/wallets/Cargo.toml
  deny.toml
Labels: T-bug, C-forge

#8232 Support the `gcp` option in `cast wallet list`
  Cargo.lock
  crates/cast/Cargo.toml
  crates/cast/src/cmd/wallet/list.rs
  crates/wallets/Cargo.toml
  crates/wallets/src/multi_wallet.rs
Labels: C-cast, A-compatibility

#10333 fix(forge): avoid panic on internal decoding of linked tests
  crates/evm/traces/src/debug/mod.rs
  crates/forge/tests/cli/test_optimizer.rs
Labels: T-bug, C-forge

#10346 chore(`release`): add `gcp-kms` flag to default release workflow
  .github/workflows/release.yml
  Dockerfile
  Makefile
  crates/forge/Cargo.toml
Labels: A-releases, T-chore

#10349 feat(cast): Include recover_authority when logging SignedAuthorization
  crates/common/fmt/src/ui.rs
Labels: T-feature, C-cast

#10344 chore: fix isolate tests
  crates/forge/tests/cli/test_optimizer.rs
Labels: L-ignore

#10384 feat(forge): script warn if no transactions to broadcast
  crates/forge/tests/cli/script.rs
  crates/script/src/lib.rs
Labels: T-feature, C-forge

#10402 fix(forge): do not use bytecode metadata in fuzz dict
  Cargo.lock
  Cargo.toml
  crates/common/Cargo.toml
  crates/common/src/utils.rs
  crates/evm/fuzz/src/strategies/state.rs
  crates/forge/tests/it/invariant.rs
  crates/verify/Cargo.toml
  crates/verify/src/utils.rs
Labels: T-bug, C-forge

#10409 chore: fix anvil immutable fork test
  crates/anvil/tests/it/fork.rs
Labels: L-ignore

#10161 Apply access list to tracing executor for 'cast call --trace'
  crates/cast/src/cmd/call.rs
Labels: T-bug, C-cast

#10412 intermediary(`revm bump`): re-enable Anvil tests, remove duplicate `LogCollector`, entire codebase builds
  Cargo.lock
  crates/anvil/core/src/eth/transaction/mod.rs
  crates/anvil/src/config.rs
  crates/anvil/src/eth/api.rs
  crates/anvil/src/eth/backend/db.rs
  crates/anvil/src/eth/backend/evm.rs
  crates/anvil/src/eth/backend/executor.rs
  crates/anvil/src/eth/backend/mem/fork_db.rs
  crates/anvil/src/eth/backend/mem/inspector.rs
  crates/anvil/src/eth/backend/mem/mod.rs
  crates/anvil/src/eth/backend/mem/storage.rs
  crates/anvil/src/eth/fees.rs
  crates/anvil/src/eth/pool/mod.rs
  crates/anvil/src/lib.rs
  crates/anvil/tests/it/fork.rs
  crates/anvil/tests/it/state.rs
  crates/anvil/tests/it/transaction.rs
  crates/cast/Cargo.toml
  crates/cast/tests/cli/main.rs
  crates/cheatcodes/Cargo.toml
  crates/cheatcodes/src/evm.rs
  crates/cheatcodes/src/fs.rs
  crates/cheatcodes/src/inspector.rs
  crates/cheatcodes/src/lib.rs
  crates/cheatcodes/src/test/expect.rs
  crates/evm/core/src/backend/cow.rs
  crates/evm/core/src/backend/mod.rs
  crates/evm/core/src/evm.rs
  crates/evm/core/src/lib.rs
  crates/evm/evm/Cargo.toml
  crates/evm/evm/src/inspectors/chisel_state.rs
  crates/evm/evm/src/inspectors/custom_printer.rs
  crates/evm/evm/src/inspectors/logs.rs
  crates/evm/evm/src/inspectors/mod.rs
  crates/evm/evm/src/inspectors/script.rs
  crates/evm/evm/src/inspectors/stack.rs
  crates/forge/Cargo.toml
  crates/forge/tests/cli/create.rs
  crates/forge/tests/cli/multi_script.rs
  crates/forge/tests/cli/script.rs
  crates/forge/tests/cli/test_cmd.rs
Labels: L-ignore
